.container {
    max-width: 1170px;
    min-width: 320px;
    margin: 0 auto;
    padding:  {
        right: 15px;
        left: 15px;
    }
    &_sm {
        max-width: 800px;
        min-width: 320px;
        margin: 0 auto;
        padding:  {
            right: 15px;
            left: 15px;
        }
    }
}
.fl-l {
    float: left;
}
.fl-r {
    float: right;
}
.btn {
    @include border-radius(3px);
    @include transition(.25s);
    display: inline-block;
    background: #f2667d;
    color: #fff;
    text-align: center;
    padding: 8px 17px;
    font-size: 14px;
    border-bottom: 2px solid #dc5066;
    &:hover {
        background: #e15b70;
    }
}
.btn_nonbg {
    @include border-radius(3px);
    @include transition(.25s);
    background-color: #fff;
    border: 1px solid #a7adb7;
    padding: 8px 20px;
    color: #7393dc;
    &:hover{
        background-color: #7393dc;
        color: #fff;
    }
}

.title {
    font-weight: 400;
    font-size: 22px;
    color: #222;
    text-align: center;
    margin-bottom: 30px;
}
.breadcrumbs {
    margin-bottom: 35px;
    height: 35px;
    line-height: 35px;
    background: #fdfdfd;
    font-family: Georgia, serif;
    font-style: italic;
    font-style: 14px;
    padding: 0 25px;
    color: #777;
    outline: 1px solid #e5e5e5;
    &--active {
        color: #222;
    }
}
.breadcrumbs-list {
    li {
        display: inline-block;
        margin-right: 35px;
        position: relative;
        &:last-child {
            margin-right: 0;
        }
        &:after {
            content: "";
            position: absolute;
            background: url('../img/tri.png');
            width: 15px;
            height: 38px;
            top: 0;
            right: -20px;
            bottom: 0;
            margin: auto;
        }
    }
}
