.container {
    max-width: 1170px;
    min-width: 320px;
    margin: 0 auto;
    padding:  {
        right: 15px;
        left: 15px;
    }
}
.fl-l {
    float: left;
}
.fl-r {
    float: right;
}
.btn {
    @include border-radius(3px);
    @include transition(.25s);
    display: inline-block;
    background: #f2667d;
    color: #fff;
    text-align: center;
    padding: 8px 17px;
    font-size: 14px;
    border-bottom: 2px solid #dc5066;
    &:hover {
        background: #e15b70;
    }
}
.title{
    font-size: 22px;
    color: #222;
    text-align: center;
}