extends _layout.pug
block main
    .brands-container.about
        .container
            .breadcrumbs
                ul.breadcrumbs-list
                    li
                        a(href="index.html") 
                            |  Главная                
                    li.breadcrumbs--active
                        a(href="") 
                            |  О нас        
            h2.title
                | О нас
        .brands-info
            .container
                .brand-info
                    .br-img.fl-l
                        img(src="img/ab-1.jpg", alt="")
                    .br-dscr.fl-r
                        span История компании
                        p
                            | Обладает высокой устойчивостью к нагрузкам − до 
                            |160 кг на одно спальное место. Блок независимых 
                            |пружин Pocket Spring шахматной сборки повышенной 
                            |прочности, усиленный двумя рамками из стали, 
                            |обеспечивает лучший ортопедический эффект. <br>
                        p Точечное распределение нагрузки исключает 
                            |«эффект волны» в двуспальных моделях (когда есть большая разница в весе у людей, спящих на разных половинах матраса). 
                .brand-info
                    .br-img.fl-l
                        img(src="img/ab-2.jpg", alt="")
                    .br-dscr.fl-r
                        span Текст об особенностях сервиса  и персонале
                        p Существует два основных типа каркасов: с двумя опорными спинками и двумя боковыми панелями, или с четырьмя боковыми панелями и спинками, где опорами выступают ножки или подиум. 
                        p Считается, что каркасы с ножками менее долговечны, но если сборка произведена качественно, то не важно, какой вариант Вы выберете, он прослужит Вам долгое время. Наиболее надёжные и долговечные каркасы выполняются из деревянного массива или металла.             
                .brand-info
                    .br-img.fl-l
                        img(src="img/ab-3.jpg", alt="")
                    .br-dscr.fl-r
                        span Текст о наиболее известных компаниях-партнерах, с которыми осуществляется сотрудничество.
                        p.
                            Существует два основных типа каркасов: с двумя опорными спинками и двумя боковыми панелями, или с четырьмя боковыми панелями и спинками, где опорами выступают ножки или подиум. Считается, что каркасы с ножками менее долговечны, но если сборка произведена качественно, то не важно, какой вариант Вы выберете, он прослужит Вам долгое время. Наиболее надёжные и долговечные каркасы выполняются из деревянного массива или металла.           
        .container
            .about-wrap
                h2.title
                    | Почему именно мы?
                .about-items
                    .about-item
                        .about-img
                            img(src="img/24.png", alt="")
                        .about-dscr
                            p.
                                Продукция от 12 известных российских и иностранных брендов 
                    .about-item                    
                        .about-img
                            img(src="img/big-star.png", alt="")
                        .about-dscr
                            p.
                                Работа без выходных. Доставка в день покупки.
                    .about-item  
                        .about-img
                            img(src="img/arrow.png", alt="")
                        .about-dscr
                            p.
                                Изготовление продукции на заказ. Продажа матрасов нестандартных форм и размеров
                    .about-item                      
                        .about-img
                            img(src="img/oreanda.png", alt="")
                        .about-dscr
                            p.
                                На каждый товар есть документы, подтверждающие его качество и безопасность
                    .about-item                      
                        .about-img
                            img(src="img/pig.png", alt="")
                        .about-dscr
                            p.
                                Доступные цены на товары от 5 000 рублей