extends _layout.pug
block main
    .brands-container.breeze
        .container
            .breadcrumbs
                ul.breadcrumbs-list
                    li
                        a(href="index.html") 
                            |  Главная                
                    li
                        a(href="news.html") 
                            |  Новости
                    li.breadcrumbs--active
                        a(href="") 
                            |  Название новости
            h2.title
                | Название новости 
        .brands-info
            .container
                .brand-info
                    .br-img.fl-l
                        img(src="img/breeze-1.jpg", alt="")
                    .br-dscr.fl-r
                        span Открылся магазин-склад матрасов и кроватейи 
                        p
                            | Обладает высокой устойчивостью к нагрузкам − до 
                            |160 кг на одно спальное место. Блок независимых 
                            |пружин Pocket Spring шахматной сборки повышенной 
                            |прочности, усиленный двумя рамками из стали, 
                            |обеспечивает лучший ортопедический эффект. <br>
                        p Точечное распределение нагрузки исключает 
                            |«эффект волны» в двуспальных моделях (когда есть большая разница в весе у людей, спящих на разных половинах матраса).          