extends _layout.pug
block main
    .brands-container.delivery
        .container
            .breadcrumbs
                ul.breadcrumbs-list
                    li
                        a(href="index.html")
                            |  Главная
                    li.breadcrumbs--active
                        a(href="")
                            |  Доставка и оплата
            h2.title
                | Доставка и оплата
        .delivery-info-wrap
            .container
                .delivery-info
                    .del-img.fl-l
                        img(src="img/icons/delivery/delivery-truck.png", alt="")
                    .del-dscr
                        .del-title Текст о способах и особенностях доставки по России
                        p
                            | Обладает высокой устойчивостью к нагрузкам − до
                            |160 кг на одно спальное место. Блок независимых
                            |пружин Pocket Spring шахматной сборки повышенной
                            |прочности, усиленный двумя рамками из стали,
                            |обеспечивает лучший ортопедический эффект. <br>
                        p Точечное распределение нагрузки исключает
                            |«эффект волны» в двуспальных моделях (когда есть большая разница в весе у людей, спящих на разных половинах матраса).
                .delivery-info
                    .del-img.fl-l
                        img(src="img/icons/delivery/delivery-city-truck.png", alt="")
                    .del-dscr
                        .del-title Текст о способах доставки по Москве и МО
                        p Существует два основных типа каркасов: с двумя опорными спинками и двумя боковыми панелями, или с четырьмя боковыми панелями и спинками, где опорами выступают ножки или подиум.
                        p Считается, что каркасы с ножками менее долговечны, но если сборка произведена качественно, то не важно, какой вариант Вы выберете, он прослужит Вам долгое время. Наиболее надёжные и долговечные каркасы выполняются из деревянного массива или металла.
                .delivery-info
                    .del-img.fl-l
                        img(src="img/icons/delivery/credit-cards.png", alt="")
                    .del-dscr
                        .del-title Текст о способах оплаты
                        p
                            | Существует два основных типа каркасов: с двумя опорными спинками и двумя боковыми панелями, или с четырьмя боковыми панелями и спинками, где опорами выступают ножки или подиум. Считается, что каркасы с ножками менее долговечны, но если сборка произведена качественно, то не важно, какой вариант Вы выберете, он прослужит Вам долгое время. Наиболее надёжные и долговечные каркасы выполняются из деревянного массива или металла.
                .delivery-info
                    .del-img.fl-l
                        img(src="img/icons/delivery/delivering-box.png", alt="")
                    .del-dscr
                        .del-title Особенности доставки и оплаты от каждого производителя
                        p
                            | Существует два основных типа каркасов: с двумя опорными спинками и двумя боковыми панелями, или с четырьмя боковыми панелями и спинками, где опорами выступают ножки или подиум. Считается, что каркасы с ножками менее долговечны, но если сборка произведена качественно, то не важно, какой вариант Вы выберете, он прослужит Вам долгое время. Наиболее надёжные и долговечные каркасы выполняются из деревянного массива или металла.