extends _layout.pug
block main
    .acProd-wrapper
        .container
            .breadcrumbs
                ul.breadcrumbs-list
                    li
                        a(href="index.html") 
                            |  Главная         
                    li
                        a(href="index.html") 
                            |  Новинки         
                    li.breadcrumbs--active
                        a(href="") 
                            |  Избранное        
            h2.title
                | Избранное
            .acProd-items
                .acProd-item.acProd-item--fav
                    .acProd-img.fl-l
                        img(src="img/item-1.jpg", alt="")
                        span
                            | Матрас <br> Beautyson Белисса Мини
                    .acProd-dscr.fl-l
                        .acProd-price
                            span.new-price
                                | 5 399 руб.
                            span.old-price
                                | Убрать с избранного
                        .acProd-about
                            ul
                                li Производитель: 
                                    span DreamLine
                                li Высота матраса: 
                                    span 16 см
                                li Пружинный блок: 
                                    span независимый
                                li Жесткость нижней стороны: 
                                    span мягкая
                                li Жёсткость верхней стороны: 
                                    span мягкая
                                li
                                    a(href="#") 
                                        | Подробней  →
                        .acProd-options
                            a(href="#").btn.addBug
                                | В корзину
                            a(href="#").fav
                            a(href="#").comparison
                .acProd-item.acProd-item--fav.acProd-item--ac
                    .acProd-img.fl-l
                        img(src="img/item-1.jpg", alt="")
                        span
                            | Матрас <br> Beautyson Белисса Мини
                    .acProd-dscr.fl-l
                        .acProd-price
                            span.new-price
                                | 5 399 руб.
                            span.old-price
                                | Убрать с избранного
                        .acProd-about
                            ul
                                li Производитель: 
                                    span DreamLine
                                li Высота матраса: 
                                    span 16 см
                                li Пружинный блок: 
                                    span независимый
                                li Жесткость нижней стороны: 
                                    span мягкая
                                li Жёсткость верхней стороны: 
                                    span мягкая
                                li
                                    a(href="#") 
                                        | Подробней  →
                        .acProd-options
                            a(href="#").btn.addBug
                                | В корзину
                            a(href="#").fav
                            a(href="#").comparison
                .acProd-item.acProd-item--fav.acProd-item--hit
                    .acProd-img.fl-l
                        img(src="img/item-1.jpg", alt="")
                        span
                            | Матрас <br> Beautyson Белисса Мини
                    .acProd-dscr.fl-l
                        .acProd-price
                            span.new-price
                                | 5 399 руб.
                            span.old-price
                                | Убрать с избранного
                        .acProd-about
                            ul
                                li Производитель: 
                                    span DreamLine
                                li Высота матраса: 
                                    span 16 см
                                li Пружинный блок: 
                                    span независимый
                                li Жесткость нижней стороны: 
                                    span мягкая
                                li Жёсткость верхней стороны: 
                                    span мягкая
                                li
                                    a(href="#") 
                                        | Подробней  →
                        .acProd-options
                            a(href="#").btn.addBug
                                | В корзину
                            a(href="#").fav
                            a(href="#").comparison
                .acProd-item.acProd-item--fav.acProd-item--new
                    .acProd-img.fl-l
                        img(src="img/item-1.jpg", alt="")
                        span
                            | Матрас <br> Beautyson Белисса Мини
                    .acProd-dscr.fl-l
                        .acProd-price
                            span.new-price
                                | 5 399 руб.
                            span.old-price
                                | Убрать с избранного
                        .acProd-about
                            ul
                                li Производитель: 
                                    span DreamLine
                                li Высота матраса: 
                                    span 16 см
                                li Пружинный блок: 
                                    span независимый
                                li Жесткость нижней стороны: 
                                    span мягкая
                                li Жёсткость верхней стороны: 
                                    span мягкая
                                li
                                    a(href="#") 
                                        | Подробней  →
                        .acProd-options
                            a(href="#").btn.addBug
                                | В корзину
                            a(href="#").fav
                            a(href="#").comparison
                .acProd-item.acProd-item--fav
                    .acProd-img.fl-l
                        img(src="img/item-1.jpg", alt="")
                        span
                            | Матрас <br> Beautyson Белисса Мини
                    .acProd-dscr.fl-l
                        .acProd-price
                            span.new-price
                                | 5 399 руб.
                            span.old-price
                                | Убрать с избранного
                        .acProd-about
                            ul
                                li Производитель: 
                                    span DreamLine
                                li Высота матраса: 
                                    span 16 см
                                li Пружинный блок: 
                                    span независимый
                                li Жесткость нижней стороны: 
                                    span мягкая
                                li Жёсткость верхней стороны: 
                                    span мягкая
                                li
                                    a(href="#") 
                                        | Подробней  →
                        .acProd-options
                            a(href="#").btn.addBug
                                | В корзину
                            a(href="#").fav
                            a(href="#").comparison
                .acProd-item.acProd-item--fav
                    .acProd-img.fl-l
                        img(src="img/item-1.jpg", alt="")
                        span
                            | Матрас <br> Beautyson Белисса Мини
                    .acProd-dscr.fl-l
                        .acProd-price
                            span.new-price
                                | 5 399 руб.
                            span.old-price
                                | Убрать с избранного
                        .acProd-about
                            ul
                                li Производитель: 
                                    span DreamLine
                                li Высота матраса: 
                                    span 16 см
                                li Пружинный блок: 
                                    span независимый
                                li Жесткость нижней стороны: 
                                    span мягкая
                                li Жёсткость верхней стороны: 
                                    span мягкая
                                li
                                    a(href="#") 
                                        | Подробней  →
                        .acProd-options
                            a(href="#").btn.addBug
                                | В корзину
                            a(href="#").fav
                            a(href="#").comparison
            .pagination
                ul
                    li.pagination--active
                        a(href="#") 1
                    li 
                        a(href="#") 2
                    li 
                        a(href="#") 3
                    li 
                        a(href="#") →
                    li 
                        a(href="#") Показать еще
