extends _layout.pug
block main
    .brands-container.guarantees
        .container
            .breadcrumbs
                ul.breadcrumbs-list
                    li
                        a(href="index.html") 
                            |  Главная                
                    li.breadcrumbs--active
                        a(href="") 
                            |  Гарантии
            h2.title
                | Гарантии качества
        .brands-info
            .container
                .brand-info
                    .br-img
                        img(src="img/gr-1.png", alt="")
                    .br-dscr
                        span Текст о гарантиях качества 
                        p
                            | Обладает высокой устойчивостью к нагрузкам − до 
                            |160 кг на одно спальное место. Блок независимых 
                            |пружин Pocket Spring шахматной сборки повышенной 
                            |прочности, усиленный двумя рамками из стали, 
                            |обеспечивает лучший ортопедический эффект.
                .brand-info.brand-info--alert
                    .br-img
                        img(src="img/gr-2.png", alt="")
                    .br-dscr 
                        p.
                            Согласно ГОСТу 19917-93 матрасы, 
                            ортопедические основания и кровати 
                            относятся к категории «Мебель для 
                            сидения и лежания», а наматрасники, 
                            подушки и постельное белье - к 
                            категории «Швейные и трикотажные 
                            изделия» и, согласно Постановлению 
                            правительства РФ от 19.01.1998 № 55, 
                            входят в перечень                             
                            непродовольственных товаров надлежащего качества, не 
                            подлежащих возврату или обмену. Рекомендуем 
                            внимательно отнестись к выбору матраса.
                .brand-info
                    .br-img
                        img(src="img/gr-3.png", alt="")
                    .br-dscr
                        span На что распространяются наши гарантии?
                        p.
                            Существует два основных типа каркасов: с двумя опорными спинками и двумя боковыми панелями, или с четырьмя боковыми панелями и спинками, где опорами выступают ножки или подиум. Считается, что каркасы с ножками менее долговечны, но если сборка произведена качественно, то не важно, какой вариант Вы выберете, он прослужит Вам долгое время. Наиболее надёжные и долговечные каркасы выполняются из деревянного массива или металла.
                .brand-info
                    .br-img
                        img(src="img/gr-4.png", alt="")
                    .br-dscr
                        span На что 
                            span.red не 
                            | распространяются наши гарантии?
                        p.
                            Существует два основных типа каркасов: с двумя 
                            опорными спинками и двумя боковыми 
                            панелями, или с четырьмя боковыми панелями и спинками, где опорами выступают ножки или подиум. 
                            Считается, что каркасы с ножками менее долговечны, но если сборка 
                            произведена качественно, то не важно, какой вариант Вы выберете, 
                            он прослужит Вам долгое время. Наиболее надёжные и долговечные каркасы 
                            выполняются из деревянного массива или металла.
                .brand-info.brand-info--alert
                    .br-img
                        img(src="img/gr-2.png", alt="")
                    .br-dscr 
                        p.
                            Согласно ГОСТу 19917-93 матрасы, 
                            ортопедические основания и кровати 
                            относятся к категории «Мебель для 
                            сидения и лежания», а наматрасники, 
                            подушки и постельное белье - к 
                            категории «Швейные и трикотажные 
                            изделия» и, согласно Постановлению 
                            правительства РФ от 19.01.1998 № 55, 
                            входят в перечень                             
                            непродовольственных товаров надлежащего качества, 
                            не подлежащих возврату или обмену. Рекомендуем 
                            внимательно отнестись к выбору матраса.
