extends _layout.pug
block main
    .acProd-wrapper
        .container
            .breadcrumbs
                ul.breadcrumbs-list
                    li
                        a(href="index.html") 
                            |  Главная         
                    li.breadcrumbs--active
                        a(href="") 
                            |  Хиты продаж         
            h2.title
                | Хиты продаж 
            .bestsellersSlider-wrap
                .hits-items
                    .product-item.product-item--hit
                        .prod-img
                            img(src="img/item-1.jpg", alt="")
                        .prod-dscr
                            span.dscr
                                | Экстра Мини 
                                span / Матрас
                        .prod-price
                            span
                                | От 8 660 руб.
                        .prod-controls
                            ul
                                li
                                    a(href="#")
                                        img(src="img/star.png", alt="")
                                li
                                    a(href="#")
                                        img(src="img/left-right.png", alt="")

                    .product-item.product-item--hit
                        .prod-img
                            img(src="img/item-1.jpg", alt="")
                        .prod-dscr
                            span.dscr
                                | Экстра Мини 
                                span / Матрас
                        .prod-price
                            span
                                | От 8 660 руб.
                        .prod-controls
                            ul
                                li
                                    a(href="#")
                                        img(src="img/star.png", alt="")
                                li
                                    a(href="#")
                                        img(src="img/left-right.png", alt="")
                    .product-item.product-item--hit
                        .prod-img
                            img(src="img/item-1.jpg", alt="")
                        .prod-dscr
                            span.dscr
                                | Экстра Мини 
                                span / Матрас
                        .prod-price
                            span
                                | От 8 660 руб.
                        .prod-controls
                            ul
                                li
                                    a(href="#")
                                        img(src="img/star.png", alt="")
                                li
                                    a(href="#")
                                        img(src="img/left-right.png", alt="")

                    .product-item.product-item--hit
                        .prod-img
                            img(src="img/item-1.jpg", alt="")
                        .prod-dscr
                            span.dscr
                                | Экстра Мини 
                                span / Матрас
                        .prod-price
                            span
                                | От 8 660 руб.
                        .prod-controls
                            ul
                                li
                                    a(href="#")
                                        img(src="img/star.png", alt="")
                                li
                                    a(href="#")
                                        img(src="img/left-right.png", alt="")
                    .product-item.product-item--hit
                        .prod-img
                            img(src="img/item-1.jpg", alt="")
                        .prod-dscr
                            span.dscr
                                | Экстра Мини 
                                span / Матрас
                        .prod-price
                            span
                                | От 8 660 руб.
                        .prod-controls
                            ul
                                li
                                    a(href="#")
                                        img(src="img/star.png", alt="")
                                li
                                    a(href="#")
                                        img(src="img/left-right.png", alt="")

                    .product-item.product-item--hit
                        .prod-img
                            img(src="img/item-1.jpg", alt="")
                        .prod-dscr
                            span.dscr
                                | Экстра Мини 
                                span / Матрас
                        .prod-price
                            span
                                | От 8 660 руб.
                        .prod-controls
                            ul
                                li
                                    a(href="#")
                                        img(src="img/star.png", alt="")
                                li
                                    a(href="#")
                                        img(src="img/left-right.png", alt="")
                    .product-item.product-item--hit
                        .prod-img
                            img(src="img/item-1.jpg", alt="")
                        .prod-dscr
                            span.dscr
                                | Экстра Мини 
                                span / Матрас
                        .prod-price
                            span
                                | От 8 660 руб.
                        .prod-controls
                            ul
                                li
                                    a(href="#")
                                        img(src="img/star.png", alt="")
                                li
                                    a(href="#")
                                        img(src="img/left-right.png", alt="")

                    .product-item.product-item--hit
                        .prod-img
                            img(src="img/item-1.jpg", alt="")
                        .prod-dscr
                            span.dscr
                                | Экстра Мини 
                                span / Матрас
                        .prod-price
                            span
                                | От 8 660 руб.
                        .prod-controls
                            ul
                                li
                                    a(href="#")
                                        img(src="img/star.png", alt="")
                                li
                                    a(href="#")
                                        img(src="img/left-right.png", alt="")
                    .product-item.product-item--hit
                        .prod-img
                            img(src="img/item-1.jpg", alt="")
                        .prod-dscr
                            span.dscr
                                | Экстра Мини 
                                span / Матрас
                        .prod-price
                            span
                                | От 8 660 руб.
                        .prod-controls
                            ul
                                li
                                    a(href="#")
                                        img(src="img/star.png", alt="")
                                li
                                    a(href="#")
                                        img(src="img/left-right.png", alt="")

                    .product-item.product-item--hit
                        .prod-img
                            img(src="img/item-1.jpg", alt="")
                        .prod-dscr
                            span.dscr
                                | Экстра Мини 
                                span / Матрас
                        .prod-price
                            span
                                | От 8 660 руб.
                        .prod-controls
                            ul
                                li
                                    a(href="#")
                                        img(src="img/star.png", alt="")
                                li
                                    a(href="#")
                                        img(src="img/left-right.png", alt="")
                    .product-item.product-item--hit
                        .prod-img
                            img(src="img/item-1.jpg", alt="")
                        .prod-dscr
                            span.dscr
                                | Экстра Мини 
                                span / Матрас
                        .prod-price
                            span
                                | От 8 660 руб.
                        .prod-controls
                            ul
                                li
                                    a(href="#")
                                        img(src="img/star.png", alt="")
                                li
                                    a(href="#")
                                        img(src="img/left-right.png", alt="")

                    .product-item.product-item--hit
                        .prod-img
                            img(src="img/item-1.jpg", alt="")
                        .prod-dscr
                            span.dscr
                                | Экстра Мини 
                                span / Матрас
                        .prod-price
                            span
                                | От 8 660 руб.
                        .prod-controls
                            ul
                                li
                                    a(href="#")
                                        img(src="img/star.png", alt="")
                                li
                                    a(href="#")
                                        img(src="img/left-right.png", alt="")
            .pagination
                ul
                    li.pagination--active
                        a(href="#") 1
                    li 
                        a(href="#") 2
                    li 
                        a(href="#") 3
                    li 
                        a(href="#") →
                    li 
                        a(href="#") Показать еще
