extends _layout.pug
block main
    .brands-container.matherials
        .container
            .breadcrumbs
                ul.breadcrumbs-list
                    li
                        a(href="index.html") 
                            |  Главная                
                    li.breadcrumbs--active
                        a(href="") 
                            |  Материалы      
            h2.title
                | Материалы
        .brands-info
            .container
                .brand-info
                    .br-img.fl-l
                        img(src="img/m-1.jpg", alt="")
                    .br-dscr.fl-r
                        span Название материала
                        p
                            | Обладает высокой устойчивостью к нагрузкам − до 
                            |160 кг на одно спальное место. Блок независимых 
                            |пружин Pocket Spring шахматной сборки повышенной 
                            |прочности, усиленный двумя рамками из стали, 
                            |обеспечивает лучший ортопедический эффект. <br>
                        p Точечное распределение нагрузки исключает 
                            |«эффект волны» в двуспальных моделях (когда есть большая разница в весе у людей, спящих на разных половинах матраса). 
                .brand-info
                    .br-img.fl-l
                        img(src="img/m-2.jpg", alt="")
                    .br-dscr.fl-r
                        span Название материала 
                        p Существует два основных типа каркасов: с двумя опорными спинками и двумя боковыми панелями, или с четырьмя боковыми панелями и спинками, где опорами выступают ножки или подиум. 
                        p Считается, что каркасы с ножками менее долговечны, но если сборка произведена качественно, то не важно, какой вариант Вы выберете, он прослужит Вам долгое время. Наиболее надёжные и долговечные каркасы выполняются из деревянного массива или металла.             
                .brand-info
                    .br-img.fl-l
                        img(src="img/m-3.jpg", alt="")
                    .br-dscr.fl-r
                        span Название материала
                        p.
                            Существует два основных типа каркасов: с двумя опорными спинками и двумя боковыми панелями, или с четырьмя боковыми панелями и спинками, где опорами выступают ножки или подиум. Считается, что каркасы с ножками менее долговечны, но если сборка произведена качественно, то не важно, какой вариант Вы выберете, он прослужит Вам долгое время. Наиболее надёжные и долговечные каркасы выполняются из деревянного массива или металла.           
            .pagination
                ul
                    li.pagination--active
                        a(href="#") 1
                    li 
                        a(href="#") 2
                    li 
                        a(href="#") 3
                    li 
                        a(href="#") →
                    li 
                        a(href="#") Показать еще