extends _layout.pug
block main
    .acProd-wrapper.non-standard
        .container
            .breadcrumbs
                ul.breadcrumbs-list
                    li
                        a(href="index.html")
                            |  Главная
                    li.breadcrumbs--active
                        a(href="")
                            |  Нестандартные изделия
            h2.title
                | Нестандартные изделия
            .non-standard-items
                .non-standard-item
                    .non-standard-img
                        img(src="img/ns-1.png", alt="")
                    .non-standard-dscr
                        p.
                            Выбираем вариант понравившегося матраса из каталога
                .non-standard-item
                    .non-standard-img
                        img(src="img/ns-2.png", alt="")
                    .non-standard-dscr
                        p.
                            Оформляем заказ по телефону  <br>
                            (Москва - +7 (495) 789-57-53, <br>
                            СПб - +7 (812) 490-22-96) <br>
                            или электронной почте (recept-sna.ru)
                .non-standard-item
                    .non-standard-img
                        img(src="img/ns-3.png", alt="")
                    .non-standard-dscr
                        p.
                            Ждем изготовления матраса (в большинстве случае это не занимает больше 24 часов)
                .non-standard-item
                    .non-standard-img
                        img(src="img/ns-4.png", alt="")
                    .non-standard-dscr
                        p.
                            Получаем товар на следующий день после оформления заказа (возможна доставка и тот же день)
            .non-standard-about
                span
                    | Текст о нестандатных изделиях
                p.
                    Обладает высокой устойчивостью к нагрузкам −
                    до 160 кг на одно спальное место. Блок
                    независимых пружин Pocket Spring шахматной
                    сборки повышенной прочности, усиленный двумя
                    рамками из стали, обеспечивает лучший
                    ортопедический эффект. Точечное распределение
                    нагрузки исключает «эффект волны» в
                    двуспальных моделях (когда есть большая
                    разница в весе у людей, спящих на разных
                    половинах матраса).
                p.
                    Блок независимых пружин Pocket Spring шахматной сборки
                    повышенной прочности, усиленный двумя рамками из стали,
                    обеспечивает лучший ортопедический эффект. Точечное
                    распределение нагрузки исключает «эффект волны» в
                    двуспальных моделях (когда есть большая
                    разница в весе у людей, спящих
                    на разных половинах матраса).
                a(href="#").btn#js_nonstandar
                    | Заказать нестандартное изделие
            .non-standard-exp
                h2.title
                    | Примеры нестандартных изделий
                .non-standard-slider
                    a(href="#").ns-slider
                        .ns-img
                            img(src="img/nsi-1.jpg", alt="")
                        .ns-dscr
                            span.t Beautyson Memory Ergonomica
                            span.st Подушка
                    a(href="#").ns-slider
                        .ns-img
                            img(src="img/nsi-1.jpg", alt="")
                        .ns-dscr
                            span.t Beautyson Memory Ergonomica
                            span.st Подушка
                    a(href="#").ns-slider
                        .ns-img
                            img(src="img/nsi-1.jpg", alt="")
                        .ns-dscr
                            span.t Beautyson Memory Ergonomica
                            span.st Подушка
                    a(href="#").ns-slider
                        .ns-img
                            img(src="img/nsi-1.jpg", alt="")
                        .ns-dscr
                            span.t Beautyson Memory Ergonomica
                            span.st Подушка
                    a(href="#").ns-slider
                        .ns-img
                            img(src="img/nsi-1.jpg", alt="")
                        .ns-dscr
                            span.t Beautyson Memory Ergonomica
                            span.st Подушка