extends _layout.pug
block main
    .brands-container.order
        .container
            .breadcrumbs
                ul.breadcrumbs-list
                    li
                        a(href="index.html") 
                            |  Главная                
                    li.breadcrumbs--active
                        a(href="") 
                            |  Как выбрать и заказать матрас?     
            h2.title
                | Как выбрать и заказать матрас
        .brands-info
            .container
                .brand-info
                    .br-img.fl-l
                        img(src="img/o-1.jpg", alt="")
                    .br-dscr.fl-r
                        span Текст с ортопедическими рекомендациями
                        p
                            | Обладает высокой устойчивостью к нагрузкам − до 
                            |160 кг на одно спальное место. Блок независимых 
                            |пружин Pocket Spring шахматной сборки повышенной 
                            |прочности, усиленный двумя рамками из стали, 
                            |обеспечивает лучший ортопедический эффект. <br>
                        p Точечное распределение нагрузки исключает 
                            |«эффект волны» в двуспальных моделях (когда есть большая разница в весе у людей, спящих на разных половинах матраса). 
            .container
                h2.title
                    | Правильно выбранный матрас - это 
                .order-items
                    .order-item
                        .o-img
                            img(src="img/o-2.jpg", alt="")
                        .o-dscr
                            p.
                                90% защита от искривления позвоночника и возникновения сколиоза
                    .order-item
                        .o-img
                            img(src="img/o-3.jpg", alt="")
                        .o-dscr
                            p.
                                100% качество сна, даже если вы спите всего 3-4 часа в день
                    .order-item
                        .o-img
                            img(src="img/o-4.jpg", alt="")
                        .o-dscr
                            p.
                                Избавление в 90% случаев от болей в спине и мигрени
            .howTo-order
                .container
                    h2.title
                        | Как заказать матрас?
                    .howTo-items
                        .howTo-item
                            .h-img
                                img(src="img/phone.png", alt="")
                            .h-dscr
                                span
                                    | По телефону
                                p Обладает высокой устойчивостью к нагрузкам − до 160 кг на одно спальное место. Блок независимых пружин Pocket Spring шахматной сборки повышенной прочности, усиленный двумя рамками из стали, обеспечивает лучший ортопедический эффект.
                        .howTo-item
                            .h-img
                                img(src="img/mail.png", alt="")
                            .h-dscr
                                span
                                    | По ICQ, Skype или электронной почте
                                p Обладает высокой устойчивостью к нагрузкам − до 160 кг на одно спальное место. Блок независимых пружин Pocket Spring шахматной сборки повышенной прочности, усиленный двумя рамками из стали, обеспечивает лучший ортопедический эффект.
                        .howTo-item
                            .h-img
                                img(src="img/click.png", alt="")
                            .h-dscr
                                span
                                    | В один клик
                                p Обладает высокой устойчивостью к нагрузкам − до 160 кг на одно спальное место. Блок независимых пружин Pocket Spring шахматной сборки повышенной прочности, усиленный двумя рамками из стали, обеспечивает лучший ортопедический эффект.
                        .howTo-item
                            .h-img
                                img(src="img/size.png", alt="")
                            .h-dscr
                                span
                                    | Нестандартный матрас
                                p Обладает высокой устойчивостью к нагрузкам − до 160 кг на одно спальное место. Блок независимых пружин Pocket Spring шахматной сборки повышенной прочности, усиленный двумя рамками из стали, обеспечивает лучший ортопедический эффект.