extends _layout.pug
block main
    .prodCard-wrapper
        .container
            h2.title
                | Вместе с этим покупают
            .bestsellersSlider-wrap
                .bestsellers-items
                    .product-item.product-item--hit
                        .prod-img
                            a(href="prod-card.html")
                                img(src="img/item-1.jpg", alt="")
                        .prod-dscr
                            span.dscr
                                | Экстра Мини 
                                span / Матрас
                        .prod-price
                            span
                                | От 8 660 руб.
                        .prod-controls
                            ul
                                li
                                    a(href="#")
                                        img(src="img/star.png", alt="")
                                li
                                    a(href="#")
                                        img(src="img/left-right.png", alt="")
                    .product-item.product-item--ac
                        .prod-img
                            img(src="img/item-1.jpg", alt="")
                        .prod-dscr
                            span.dscr
                                | Экстра Мини 
                                span / Матрас
                        .prod-price
                            span
                                | От 8 660 руб.
                        .prod-controls
                            ul
                                li
                                    a(href="#")
                                        img(src="img/star.png", alt="")
                                li
                                    a(href="#")
                                        img(src="img/left-right.png", alt="")
                    .product-item
                        .prod-img
                            img(src="img/item-1.jpg", alt="")
                        .prod-dscr
                            span.dscr
                                | Экстра Мини 
                                span / Матрас
                        .prod-price
                            span
                                | От 8 660 руб.
                        .prod-controls
                            ul
                                li
                                    a(href="#")
                                        img(src="img/star.png", alt="")
                                li
                                    a(href="#")
                                        img(src="img/left-right.png", alt="")
                    .product-item
                        .prod-img
                            img(src="img/item-1.jpg", alt="")
                        .prod-dscr
                            span.dscr
                                | Экстра Мини 
                                span / Матрас
                        .prod-price
                            span
                                | От 8 660 руб.
                        .prod-controls
                            ul
                                li
                                    a(href="#")
                                        img(src="img/star.png", alt="")
                                li
                                    a(href="#")
                                        img(src="img/left-right.png", alt="")
        .container
            h2.title
                | Вы просматривали
            .bestsellersSlider-wrap
                .bestsellers-items
                    .product-item.product-item--ac
                        .prod-img
                            a(href="prod-card.html")
                                img(src="img/item-1.jpg", alt="")
                        .prod-dscr
                            span.dscr
                                | Экстра Мини 
                                span / Матрас
                        .prod-price
                            span
                                | От 8 660 руб.
                        .prod-controls
                            ul
                                li
                                    a(href="#")
                                        img(src="img/star.png", alt="")
                                li
                                    a(href="#")
                                        img(src="img/left-right.png", alt="")
                    .product-item.product-item--ac
                        .prod-img
                            img(src="img/item-1.jpg", alt="")
                        .prod-dscr
                            span.dscr
                                | Экстра Мини 
                                span / Матрас
                        .prod-price
                            span
                                | От 8 660 руб.
                        .prod-controls
                            ul
                                li
                                    a(href="#")
                                        img(src="img/star.png", alt="")
                                li
                                    a(href="#")
                                        img(src="img/left-right.png", alt="")
                    .product-item
                        .prod-img
                            img(src="img/item-1.jpg", alt="")
                        .prod-dscr
                            span.dscr
                                | Экстра Мини 
                                span / Матрас
                        .prod-price
                            span
                                | От 8 660 руб.
                        .prod-controls
                            ul
                                li
                                    a(href="#")
                                        img(src="img/star.png", alt="")
                                li
                                    a(href="#")
                                        img(src="img/left-right.png", alt="")
                    .product-item.product-item--ac
                        .prod-img
                            img(src="img/item-1.jpg", alt="")
                        .prod-dscr
                            span.dscr
                                | Экстра Мини 
                                span / Матрас
                        .prod-price
                            span
                                | От 8 660 руб.
                        .prod-controls
                            ul
                                li
                                    a(href="#")
                                        img(src="img/star.png", alt="")
                                li
                                    a(href="#")
                                        img(src="img/left-right.png", alt="")