footer.footer
    .subscribe-wrapper
        .container
            span  Подпишитесь и получите подарок
            .subscribe-form
                form
                    label(for="name")
                        input(type="text" placeholder="Имя")
                    label(for="mail")
                        input(type="text" placeholder="Введите свой e-mail")
                    button(type="submit") Подписаться!
    .footer__mnu-line
        .container
            .footer__mnu-adaptive
                ul
                    li
                        a(href="#") Каталог
                    li
                        a(href="#") Как мы работаем 
                    li
                        a(href="#") Полезная информация
            ul.footer-list.left-list
                li.li-bold
                    | Как мы работаем
                li
                    a(href="about.html") О нас
                li
                    a(href="non-standard.html") Нестандартные изделия
                li
                    a(href="delivery.html") Доставка и оплата
                li
                    a(href="guarantees.html") Гарантии
                li
                    a(href="#") Контакты
            ul.footer-list.center-list
                li.li-bold
                    | Каталог
                li
                    a(href="#") Матрасы
                li
                    a(href="#") Наматрасники
                li
                    a(href="#") Основания
                li
                    a(href="#") Подушки
                li
                    a(href="#") Кровати
                li
                    a(href="#") Постельное белье
                li
                    a(href="#") Акции
                li
                    a(href="#") Новинки
                li
                    a(href="#") Хиты
            ul.footer-list.right-list
                li.li-bold
                    | Полезная информация
                li
                    a(href="order.html") Как выбрать и заказать матрас?
                li
                    a(href="articals.html") Статьи о сне и не только
                li
                    a(href="matherials.html") Материалы
                li
                    a(href="brands.html") Бренды
                li
                    a(href="#") Отзывы
                li
                    a(href="news.html") Новости
                li
                    a(href="#") Карта сайта
            ul.footer-list.social-list
                li.li-bold
                    | Присоединяйтесь к нам в <br> социальных сетях:
                li.social-icon.fb
                    a(href="#")
                li.social-icon.g-plus
                    a(href="#")
                li.social-icon.tw
                    a(href="#")
                li.social-icon.vk
                    a(href="#")
                li.li-bold.mb
                    | Способы оплаты:
                li.social-icon.visa
                    a(href="#")
                li.social-icon.mc
                    a(href="#")
                li.social-icon.ym
                    a(href="#")
                li.social-icon.wm
                    a(href="#")
                li.li-bold
                    | Режим работы:
                    span 09.00 - 22.00 без выходных <br>
                    a(href="tel:+7(495)7895753")
                        | Тел. +7 (495) 789-57-53 <br>
                    a(href="mailto:info@recept-sna.ru")
                        | info@recept-sna.ru
    .rightReserved
        .container
            span
                | Копирование и использование материалов представленных на сайте, возможно только с письменного согласия авторов сайта.

