header.header
    .header__first-line
        .container
            .first-options.fl-l
                ul
                    li
                        a(href="#")
                            | Cравнения 
                            span (0)  	  
                    li
                        a(href="fav-prod.html")
                            | Избранные 
                            span.li-ac (1)
            .first-mnu.fl-l
                ul
                    li 
                        a(href="about.html") О нас
                    li 
                        a(href="non-standard.html") Нестандартные изделия
                    li 
                        a(href="delivery.html") Доставка и оплата
                    li 
                        a(href="#") Отзывы
                    li 
                        a(href="#") Контакты
            .bag-wrapper.fl-r
                a(href="#").bag-info
                    | Корзина 
                    span.li-ac (4) 
                    | товаров на 
                    span.li-ac 2000 р.
    .header__second-line
        .container
            .second-left.fl-l
                .logo-wrap
                    a(href="index.html")
                        img(src="img/logo.png", alt="")
            .second-center.fl-l
                p.search-title
                    | Более 
                    span.li-ac 1000 
                    | видов матрасов в наличии!
                .search-form
                    form(action="/").form-wrap
                        label.s-label(for="search") 
                            input.s-input(type="text" placeholder="Умный поиск ...")
                        button.submit-btn(type="submit")
            .second-right.fl-r
                .c-wrap
                    a.telTo.li-ac(href="tel:+7(495)7895753")
                        | +7 (495) 789-57-53
                    a(href="#").btn 
                        | Заказать звонок
                    span.work-title
                        | Режим работы:
                    span.work-time 09.00 - 22.00 без выходных
                
    .header__main-mnu
        .container
            nav.mnu-wrapper
                ul
                    li.mnu-item
                        img(src="img/mnu-1.jpg", alt="")
                        a(href="#") 
                            | Матрасы
                        ul.sub-list
                            li
                                a(href="#") Ортопедические пружинные
                            li
                                a(href="#") Ортопедические беспружинные
                            li
                                a(href="#") Скрученные 
                            li
                                a(href="#") Круглые
                            li
                                a(href="#") Детские 
                            li
                                a(href="#") Эконом
                    li.mnu-item
                        img(src="img/mnu-2.jpg", alt="")
                        a(href="#") 
                            | Наматрасники    
                        ul.sub-list
                            li
                                a(href="#") Ортопедические пружинные
                            li
                                a(href="#") Ортопедические беспружинные
                            li
                                a(href="#") Скрученные 
                            li
                                a(href="#") Круглые
                            li
                                a(href="#") Детские 
                            li
                                a(href="#") Эконом   
                    li.mnu-item
                        img(src="img/mnu-3.jpg", alt="")
                        a(href="#") 
                            | Основания   
                        ul.sub-list
                            li
                                a(href="#") Ортопедические пружинные
                            li
                                a(href="#") Ортопедические беспружинные
                            li
                                a(href="#") Скрученные 
                            li
                                a(href="#") Круглые
                            li
                                a(href="#") Детские 
                            li
                                a(href="#") Эконом
                    li.mnu-item
                        img(src="img/mnu-4.jpg", alt="")
                        a(href="#") 
                            | Подушки   
                        ul.sub-list
                            li
                                a(href="#") Ортопедические пружинные
                            li
                                a(href="#") Ортопедические беспружинные
                            li
                                a(href="#") Скрученные 
                            li
                                a(href="#") Круглые
                            li
                                a(href="#") Детские 
                            li
                                a(href="#") Эконом
                    li.mnu-item
                        img(src="img/mnu-5.jpg", alt="")
                        a(href="#") 
                            | Кровати 
                        ul.sub-list
                            li
                                a(href="#") Ортопедические пружинные
                            li
                                a(href="#") Ортопедические беспружинные
                            li
                                a(href="#") Скрученные 
                            li
                                a(href="#") Круглые
                            li
                                a(href="#") Детские 
                            li
                                a(href="#") Эконом
                    li.mnu-item
                        img(src="img/mnu-6.jpg", alt="")
                        a(href="#") 
                            | Аксессуары 
                        ul.sub-list
                            li
                                a(href="#") Ортопедические пружинные
                            li
                                a(href="#") Ортопедические беспружинные
                            li
                                a(href="#") Скрученные 
                            li
                                a(href="#") Круглые
                            li
                                a(href="#") Детские 
                            li
                                a(href="#") Эконом