header.header
    .header__first-line
        .container
            .first-options.fl-l
                ul
                    li
                        a(href="parallel.html")
                            | Cравнения
                            span (0)
                    li
                        a(href="fav-prod.html")
                            | Избранные
                            span.li-ac (1)
            .first-mnu.fl-l
                ul
                    li
                        a(href="about.html") О магазине
                    li
                        a(href="non-standard.html") Нестандартные изделия
                    li
                        a(href="delivery.html") Доставка и оплата
                    li 
                        a(href="reviews.html") Отзывы
                    li 
                        a(href="contacts.html") Контакты
            .bag-wrapper.fl-r
                a(href="#").bag-info
                    | Корзина
                    span.li-ac (4)
                    | товаров на
                    span.li-ac 2000 р.
            a.telTo.li-ac(href="tel:+7(495)7895753")
                | +7 (495) 789-57-53
            .img-trigger
                img(src="img/mnu-trigger.png", alt="")
    .header__second-line
        .container
            .second-left.fl-l
                .logo-wrap
                    a(href="index.html")
                        img(src="img/logo.png", alt="")
            .second-center.fl-l
                p.search-title
                    | Более
                    span.li-ac 1000
                    | видов матрасов в наличии!
                .search-form
                    form(action="/").form-wrap
                        label.s-label(for="search")
                            input.s-input(type="text" placeholder="Умный поиск ...")
                        button.submit-btn(type="submit")
            .second-right.fl-r
                .c-wrap
                    a.telTo.li-ac(href="tel:+7(495)7895753")
                        | +7 (495) 789-57-53
                    a(href="#").btn#js_consult
                        | Заказать звонок
                    span.work-title
                        | Режим работы:
                    span.work-time 09.00 - 22.00 без выходных
    .header__750mnu
        .container
            .second-left.fl-l
                .logo-wrap
                    a(href="index.html")
                        img(src="img/logo.png", alt="")
            .options-wrap.fl-l
                ul
                    li.bag-info
                        a(href="#") Корзина
                            span.li-ac (4)

                    li
                        a(href="fav-prod.html") Избранное
                            span.li-ac (1)

                    li
                        a(href="parallel.html") Сравнения
                            span (0)
            .img-trigger
                img(src="img/mnu-trigger.png", alt="")
            .first-mnu
                ul
                    li
                        a(href="about.html") О магазине
                    li
                        a(href="non-standard.html") Нестандартные изделия
                    li
                        a(href="delivery.html") Доставка и оплата
                    li
                        a(href="reviews.html") Отзывы
                    li 
                        a(href="contacts.html") Контакты
    .header__main-mnu
        .container
            nav.mnu-wrapper
                ul
                    li.mnu-item
                        img(src="img/mnu-1.jpg", alt="")
                        a(href="#")
                            | Матрасы
                        .sub-list
                            ul
                                li
                                    | По типу
                                li
                                    a(href="sub_categories.html") Двуспальные
                                li
                                    a(href="#") Полутороспальные
                                li
                                    a(href="#") Односпальные
                                li
                                    a(href="#") Вакуумные матрасы
                                li
                                    a(href="#") Складные матрасы
                                li
                                    a(href="#") Высокие
                            ul
                                li
                                    | По основе
                                li
                                    a(href="#") Пружинные
                                li
                                    a(href="#") Беспружинные
                            ul
                                li
                                    | По предназначению
                                li
                                    a(href="#") Матрасы для диванов
                                li
                                    a(href="#") Матрасы для кроватей
                                li
                                    a(href="#") Матрасы для дачи
                            ul
                                li
                                    | Нестандартные изделия
                                li
                                    a(href="#") Матрасы на заказ
                                li
                                    a(href="#") Матрасы за 24 часа 
                                li
                                    a(href="#") Круглые матрасы
                            ul
                                li
                                    | По цене
                                li
                                    a(href="#") Дешевые матрасы
                                li
                                    a(href="#") Элитные матрасы 
                                li
                                    a(href="#") Матрасы со скидкой
                            ul
                                li
                                    | По типу наполнителя 
                                li
                                    a(href="#") Кокосовые матрасы
                                li
                                    a(href="#") Матрасы с эффектом памяти
                                li
                                    a(href="#") Матрасы из холлофайбера
                                li
                                    a(href="#") Латексные матрасы
                                li
                                    a(href="#") Матрасы-сэндвичи
                                li
                                    a(href="#") Пенополиуретановые матрсы
                                li
                                    a(href="#") Гелевые матрасы
                            ul.col-2
                                li
                                    | По размеру
                                li
                                    a(href="#") 80 х 190
                                li
                                    a(href="#") 80 х 200 
                                li
                                    a(href="#") 90 х 190
                                li
                                    a(href="#") 90 х 200
                                li
                                    a(href="#") 120 х 190 
                                li
                                    a(href="#") 120 х 200
                                //- li
                                //-     a(href="#") 140 х 190
                                //- li
                                //-     a(href="#") 140 х 200
                                //- li
                                //-     a(href="#") 160 х 190 
                                //- li
                                //-     a(href="#") 160 х 200
                                //- li
                                //-     a(href="#") 180 х 190 
                                //- li
                                //-     a(href="#") 180 х 200
                                //- li
                                //-     a(href="#") 200 х 200

                                li
                                    a(href="#") Еще...
                            ul
                                li
                                    | По типу пружин
                                li
                                    a(href="#") Зависимые пружины
                                li
                                    a(href="#") Независимые пружины
                                li
                                    a(href="#") 500 пружин
                                li
                                    a(href="#") 1000 пружин
                                li
                                    a(href="#") 2000 пружин
                                li
                                    a(href="#") Пружина в пружине
                                li
                                    a(href="#") Зональные блоки
                            ul
                                li
                                    | По бренду
                                li
                                    a(href="#") Comfort Line
                                li
                                    a(href="#") Промтекс-Ориент
                                li
                                    a(href="#") Luntek
                                li
                                    a(href="#") Perrino
                                li
                                    a(href="#") Mr.Mattress
                                li
                                    a(href="#") Rollmatratze
                                li
                                    a(href="#") Еще...
                            ul
                                li
                                    | По жесткости
                                li
                                    a(href="#") Мягкие
                                li
                                    a(href="#") Средние
                                li
                                    a(href="#") Жесткие
                                li
                                    a(href="#") Очень жесткие
                                li
                                    a(href="#") Двусторонние
                            ul
                                li
                                    | Производитель
                                li
                                    a(href="#") Российские матрасы
                                li
                                    a(href="#") Импортные матрасы
                            ul
                                li
                                    | Натуральные матрасы
                                li
                                    a(href="#") Матрасы без клея и запаха
                                li
                                    a(href="#") Гипоаллергенные матрасы
                    li.mnu-item
                        img(src="img/mnu-8.png", alt="")
                        a(href="#") 
                            | Тонкие матрасы    
                        .sub-list
                            ul
                                li
                                    | По типу наполнителя 
                                li
                                    a(href="#") Кокосовые матрасы
                                li
                                    a(href="#") Латексные матрасы
                                li
                                    a(href="#") Матрасы с эффектом памяти
                                li
                                    a(href="#") Матрасы из поролона
                                li
                                    a(href="#") Кокос + латекс
                                li
                                    a(href="#") Со струттофайбером
                            ul
                                li
                                    | По цене
                                li
                                    a(href="#") Недорогие
                                li
                                    a(href="#") Распродажа
                            ul
                                li
                                    | По жесткости
                                li
                                    a(href="#") Мягкие
                                li
                                    a(href="#") Средние
                                li
                                    a(href="#") Жесткие
                                li
                                    a(href="#") Разносторонние
                            ul
                                li
                                    | По высоте
                                li
                                    a(href="#") 1,5 см
                                li
                                    a(href="#") 2 см
                                li
                                    a(href="#") 3 см
                                li
                                    a(href="#") 4 см 
                                li
                                    a(href="#") 5 см 
                                li
                                    a(href="#") 6 см 
                                li
                                    a(href="#") 7 см 
                            ul
                                li
                                    | По бренду
                                li
                                    a(href="#") Comfort Line
                                li
                                    a(href="#") Промтекс-Ориент
                                li
                                    a(href="#") Luntek
                                li
                                    a(href="#") Perrino
                                li
                                    a(href="#") Mr.Mattress
                                li
                                    a(href="#") Rollmatratze
                                li
                                    a(href="#") Еще...
                            ul
                                li
                                    | По размеру
                                li
                                    a(href="#") 80 х 190
                                li
                                    a(href="#") 80 х 200 
                                li
                                    a(href="#") 90 х 190
                                li
                                    a(href="#") 90 х 200
                                li
                                    a(href="#") 120 х 190 
                                li
                                    a(href="#") 120 х 200
                                li
                                    a(href="#") Еще...
                    li.mnu-item
                        img(src="img/mnu-7.png", alt="")
                        a(href="#") 
                            | Детские матрасы
                        .sub-list.sub-listCustom
                            ul
                                li
                                    | По основе
                                li
                                    a(href="#") Пружинные
                                li
                                    a(href="#") Беспружинные
                            ul
                                li
                                    | По возрасту
                                li
                                    a(href="#") Для новорожденных
                                li
                                    a(href="#") Для детей от 3 до 9 лет
                                li
                                    a(href="#") Для подростков
                            ul
                                li
                                    | По наполнению
                                li
                                    a(href="#") Кокосовые
                                li
                                    a(href="#") Латексные
                                li
                                    a(href="#") Со струттофайбером
                            ul
                                li
                                    | По цене
                                li
                                    a(href="#") Недорогие
                                li
                                    a(href="#") Распродажа
                                li
                                    a(href="#") Премиум
                            ul
                                li
                                    | По размеру
                                li
                                    a(href="#") 60 х 120
                                li
                                    a(href="#") 60 х 125 
                                li
                                    a(href="#") 60 х 140
                                li
                                    a(href="#") 60 х 160
                                li
                                    a(href="#") 60 х 1180 
                                li
                                    a(href="#") 60 х 190
                                li
                                    a(href="#") Еще...
                            ul
                                li
                                    | По бренду
                                li
                                    a(href="#") Comfort Line
                                li
                                    a(href="#") Промтекс-Ориент
                                li
                                    a(href="#") Luntek
                                li
                                    a(href="#") Perrino
                                li
                                    a(href="#") Mr.Mattress
                                li
                                    a(href="#") Rollmatratze
                                li
                                    a(href="#") Еще...
                            ul
                                li
                                    | По жесткости
                                li
                                    a(href="#") Мягкие
                                li
                                    a(href="#") Средние
                                li
                                    a(href="#") Жесткие
                                li
                                    a(href="#") Разносторонние
                    li.mnu-item
                        img(src="img/mnu-2.jpg", alt="")
                        a(href="#") 
                            | Наматрасники   
                        .sub-list.sub-listCustom-6
                            ul
                                li
                                    | По основе
                                li
                                    a(href="#") Ортопедические
                                li
                                    a(href="#") Защитные
                                li
                                    a(href="#") Топперы
                                li
                                    a(href="#") Детские
                                li
                                    a(href="#") Непромокаемые
                                li
                                    a(href="#") Антибактериальные
                                li
                                    a(href="#") Круглые
                            ul.col-2
                                li
                                    | По размеру
                                li
                                    a(href="#") 80 х 190
                                li
                                    a(href="#") 80 х 200 
                                li
                                    a(href="#") 90 х 190
                                li
                                    a(href="#") 90 х 200
                                li
                                    a(href="#") 120 х 190 
                                li
                                    a(href="#") 120 х 200
                                li 
                                    a(href="#") Еще...
                            ul
                                li
                                    | По бренду
                                li
                                    a(href="#") Comfort Line
                                li
                                    a(href="#") Промтекс-Ориент
                                li
                                    a(href="#") Luntek
                                li
                                    a(href="#") Perrino
                                li
                                    a(href="#") Mr.Mattress
                                li
                                    a(href="#") Rollmatratze
                                li
                                    a(href="#") Еще...
                            ul
                                li
                                    | По жесткости
                                li
                                    a(href="#") Мягкие
                                li
                                    a(href="#") Средние
                                li
                                    a(href="#") Жесткие
                                li
                                    a(href="#") Разносторонние
                            ul
                                li
                                    | По цене
                                li
                                    a(href="#") Недорогие
                                li
                                    a(href="#") Распродажа
                                li
                                    a(href="#") Элитные
                            ul
                                li
                                    | По наполнению
                                li
                                    a(href="#") С натуральными наполнителями
                                li
                                    a(href="#") С искуственными наполнителями
                                li
                                    a(href="#") Со комбинированными наполнителями
                    li.mnu-item
                        img(src="img/mnu-3.jpg", alt="")
                        a(href="#") 
                            | Основания   
                        .sub-list.sub-listCustom-o
                            ul
                                li
                                    | По цене
                                li
                                    a(href="#") Недорогие
                                li
                                    a(href="#") Элитные
                            ul
                                li
                                    | Ламели
                                li
                                    a(href="#") Ламели на ленте 
                                li
                                    a(href="#") Ламели на амортизаторах
                            ul
                                li
                                    | Ножки
                                li
                                    a(href="#") С ножками 
                                li
                                    a(href="#") Металлические без ножек
                            ul
                                li
                                    | По бренду
                                li
                                    a(href="#") Comfort Line
                                li
                                    a(href="#") Промтекс-Ориент
                                li
                                    a(href="#") Luntek
                                li
                                    a(href="#") Perrino
                                li
                                    a(href="#") Mr.Mattress
                                li
                                    a(href="#") Rollmatratze
                                li
                                    a(href="#") Еще...
                            ul
                                li
                                    | По разборности
                                li
                                    a(href="#") Трансформируемое
                                li
                                    a(href="#") Разборное металличекские 
                                li
                                    a(href="#") С подъемным механизмом
                                li
                                    a(href="#") Разборные деревянные
                                li
                                    a(href="#") Корпусное основание
                            ul
                                li
                                    | По материалу
                                li
                                    a(href="#") Деревянные
                                li
                                    a(href="#") Металлические
                            ul.col-2
                                li
                                    | По размеру
                                li
                                    a(href="#") 80 х 190
                                li
                                    a(href="#") 80 х 200 
                                li
                                    a(href="#") 90 х 190
                                li
                                    a(href="#") 90 х 200
                                li
                                    a(href="#") 120 х 190 
                                li
                                    a(href="#") 120 х 200
                                li 
                                    a(href="#") Еще...
                    li.mnu-item
                        img(src="img/mnu-5.jpg", alt="")
                        a(href="#") 
                            | Кровати 
                        .sub-list.sub-listCustom_1
                            ul
                                li
                                    | Производитель
                                li
                                    a(href="#") Российские 
                                li
                                    a(href="#") Импортные 
                            ul
                                li
                                    | По количеству спальных мест
                                li
                                    a(href="#") Двуспальные кровати
                                li
                                    a(href="#") Полуторные
                                li
                                    a(href="#") Односпальные
                            ul
                                li
                                    | По материалу
                                li
                                    a(href="#") Кожаные
                                li
                                    a(href="#") ЛДСП
                                li
                                    a(href="#") Массив сосны
                                li
                                    a(href="#") Массив дуба
                                li
                                    a(href="#") Массив бука
                                li
                                    a(href="#") Массив ясеня
                                li
                                    a(href="#") Железные
                            ul
                                li
                                    | По бренду
                                li
                                    a(href="#") Промтекс-Ориент
                                li
                                    a(href="#") ВМК Шале
                                li
                                    a(href="#") Стиллмет
                            ul
                                li
                                    | По типу
                                li
                                    a(href="#") Кровати детские
                                li
                                    a(href="#") Круглые кровати
                                li
                                    a(href="#") Кованые
                                li
                                    a(href="#") Двухъярусные
                                li
                                    a(href="#") Мягкие кровати
                                li
                                    a(href="#") Недорогие кровати
                                li
                                    a(href="#") Кровати машинки
                            ul.col-2
                                li
                                    | По размеру
                                li
                                    a(href="#") 70 х 160
                                li
                                    a(href="#") 80 х 160
                                li
                                    a(href="#") 90 х 190
                                li
                                    a(href="#") 80 х 200
                                li
                                    a(href="#") 90 х 190 
                                li
                                    a(href="#") 90 х 200
                                li 
                                    a(href="#") Еще...

                    li.mnu-item
                        img(src="img/mnu-4.jpg", alt="")
                        a(href="#") 
                            | Подушки   
                        .sub-list.sub-listCustom-p
                            ul
                                li
                                    | По типу
                                li
                                    a(href="#") Ортопедические
                                li
                                    a(href="#") Обычные
                                li
                                    a(href="#") Детские
                                li
                                    a(href="#") С памяттю формы
                                li
                                    a(href="#") С охлаждающим эффектом
                            ul
                                li
                                    | По цене
                                li
                                    a(href="#") Недорогие
                                li
                                    a(href="#") Распродажа
                                li
                                    a(href="#") Элитные
                            ul
                                li
                                    | По бренду
                                li
                                    a(href="#") Comfort Line
                                li
                                    a(href="#") Промтекс-Ориент
                                li
                                    a(href="#") Luntek
                                li
                                    a(href="#") Perrino
                                li
                                    a(href="#") Mr.Mattress
                                li
                                    a(href="#") Rollmatratze
                                li
                                    a(href="#") Еще...
                            ul
                                li
                                    | По бренду
                                li
                                    a(href="#") Классические
                                li
                                    a(href="#") Эргономичные
                            ul
                                li
                                    | По типу наполнителя
                                li
                                    a(href="#") С латексным наполнением
                                li
                                    a(href="#") С натуральными наполнением
                                li
                                    a(href="#") С искуственными наполнением
                                li
                                    a(href="#") Висколатексные
                            ul.col-2
                                li
                                    | По размеру
                                li
                                    a(href="#") 40 х 60
                                li
                                    a(href="#") 50 х 70
                                li
                                    a(href="#") 60 х 80
                            ul
                                li
                                    | По жесткости
                                li
                                    a(href="#") Мягкие
                                li
                                    a(href="#") Средние
                                li
                                    a(href="#") Жесткие
                    li.mnu-item
                        img(src="img/mnu-6.jpg", alt="")
                        a(href="#") 
                            | Аксессуары 
                        .sub-list.sub-listCustom-f
                            ul
                                li
                                    a(href="#") Комплекты постельного белья                                     
                                li
                                    a(href="#") Детское постельное белье
                                li
                                    a(href="#") Одеяла и прочее
    .header__drop-down
        .container
            span.dr-1
                a(href="#") Каталог
            span.dr-2
                a(href="#") Характеристики
            .catalog-mnu
                ul
                    li.catalog-li Матрасы
                        ul.catalog-sublist
                            li
                                a(href="#") По типу
                            li
                                a(href="#") По основе
                            li
                                a(href="#") По предназначению 
                            li
                                a(href="#") Нестандартные изделия
                            li
                                a(href="#") По цене 
                            li
                                a(href="#") По типу наполнителя
                            li
                                a(href="#") По размеру
                            li
                                a(href="#") По типу пружин
                            li
                                a(href="#") По бренду
                            li
                                a(href="#") По жесткости
                            li
                                a(href="#") По производителю
                            li
                                a(href="#") Натуральные матрасы
                    li.catalog-li Наматрасники
                        ul.catalog-sublist
                            li
                                a(href="#") Ортопедические пружинные
                            li
                                a(href="#") Ортопедические беспружинные
                            li
                                a(href="#") Скрученные
                            li
                                a(href="#") Круглые
                            li
                                a(href="#") Детские
                            li
                                a(href="#") Эконом
                    li.catalog-li Основания
                        ul.catalog-sublist
                            li
                                a(href="#") Ортопедические пружинные
                            li
                                a(href="#") Ортопедические беспружинные
                            li
                                a(href="#") Скрученные
                            li
                                a(href="#") Круглые
                            li
                                a(href="#") Детские
                            li
                                a(href="#") Эконом
                    li.catalog-li Подушки
                        ul.catalog-sublist
                            li
                                a(href="#") Ортопедические пружинные
                            li
                                a(href="#") Ортопедические беспружинные
                            li
                                a(href="#") Скрученные
                            li
                                a(href="#") Круглые
                            li
                                a(href="#") Детские
                            li
                                a(href="#") Эконом
                    li.catalog-li Кровати
                        ul.catalog-sublist
                            li
                                a(href="#") Ортопедические пружинные
                            li
                                a(href="#") Ортопедические беспружинные
                            li
                                a(href="#") Скрученные
                            li
                                a(href="#") Круглые
                            li
                                a(href="#") Детские
                            li
                                a(href="#") Эконом
                    li.catalog-li Аксессуары
                        ul.catalog-sublist
                            li
                                a(href="#") Ортопедические пружинные
                            li
                                a(href="#") Ортопедические беспружинные
                            li
                                a(href="#") Скрученные
                            li
                                a(href="#") Круглые
                            li
                                a(href="#") Детские
                            li
                                a(href="#") Эконом
                    