section.bestsellers
	.container
		h2.title
			| Лидеры продаж
		.bestsellersSlider-wrap
			.bestsellers-items
				.product-item.product-item--hit
					.prod-img
						a(href="prod-card.html")
							img(src="img/item-1.jpg", alt="")
					.prod-dscr
						span.dscr
							| Экстра Мини 
							span / Матрас
					.prod-price
						span
							| От 8 660 руб.
					.prod-controls
						ul
							li
								a(href="#")
									img(src="img/star.png", alt="")
							li
								a(href="#")
									img(src="img/left-right.png", alt="")
				.product-item
					.prod-img
						img(src="img/item-1.jpg", alt="")
					.prod-dscr
						span.dscr
							| Экстра Мини 
							span / Матрас
					.prod-price
						span
							| От 8 660 руб.
					.prod-controls
						ul
							li
								a(href="#")
									img(src="img/star.png", alt="")
							li
								a(href="#")
									img(src="img/left-right.png", alt="")
				.product-item
					.prod-img
						img(src="img/item-1.jpg", alt="")
					.prod-dscr
						span.dscr
							| Экстра Мини 
							span / Матрас
					.prod-price
						span
							| От 8 660 руб.
					.prod-controls
						ul
							li
								a(href="#")
									img(src="img/star.png", alt="")
							li
								a(href="#")
									img(src="img/left-right.png", alt="")
				.product-item
					.prod-img
						img(src="img/item-1.jpg", alt="")
					.prod-dscr
						span.dscr
							| Экстра Мини 
							span / Матрас
					.prod-price
						span
							| От 8 660 руб.
					.prod-controls
						ul
							li
								a(href="#")
									img(src="img/star.png", alt="")
							li
								a(href="#")
									img(src="img/left-right.png", alt="")
			.watch-more
				a(href="#")
					| Смотреть все лидеры продаж  →
	.container
		h2.title
			| Детские матрасы 
		.bestsellersSlider-wrap
			.bestsellers-items
				.product-item
					.prod-img
						img(src="img/item-1.jpg", alt="")
					.prod-dscr
						span.dscr
							| Экстра Мини 
							span / Матрас
					.prod-price
						span
							| От 8 660 руб.
					.prod-controls
						ul
							li
								a(href="#")
									img(src="img/star.png", alt="")
							li
								a(href="#")
									img(src="img/left-right.png", alt="")
				.product-item
					.prod-img
						img(src="img/item-1.jpg", alt="")
					.prod-dscr
						span.dscr
							| Экстра Мини 
							span / Матрас
					.prod-price
						span
							| От 8 660 руб.
					.prod-controls
						ul
							li
								a(href="#")
									img(src="img/star.png", alt="")
							li
								a(href="#")
									img(src="img/left-right.png", alt="")
				.product-item
					.prod-img
						img(src="img/item-1.jpg", alt="")
					.prod-dscr
						span.dscr
							| Экстра Мини 
							span / Матрас
					.prod-price
						span
							| От 8 660 руб.
					.prod-controls
						ul
							li
								a(href="#")
									img(src="img/star.png", alt="")
							li
								a(href="#")
									img(src="img/left-right.png", alt="")
				.product-item
					.prod-img
						img(src="img/item-1.jpg", alt="")
					.prod-dscr
						span.dscr
							| Экстра Мини 
							span / Матрас
					.prod-price
						span
							| От 8 660 руб.
					.prod-controls
						ul
							li
								a(href="#")
									img(src="img/star.png", alt="")
							li
								a(href="#")
									img(src="img/left-right.png", alt="")
			.watch-more
				a(href="new-prod.html")
					| Смотреть все детские матрасы  →
	.container
		h2.title
			| Скидки на тонкие матрасы
		.bestsellersSlider-wrap
			.bestsellers-items
				.product-item.product-item--ac
					.prod-img
						img(src="img/item-1.jpg", alt="")
					.prod-dscr
						span.dscr
							| Экстра Мини 
							span / Матрас
					.prod-price
						span
							| От 8 660 руб.
					.prod-controls
						ul
							li
								a(href="#")
									img(src="img/star.png", alt="")
							li
								a(href="#")
									img(src="img/left-right.png", alt="")
				.product-item
					.prod-img
						img(src="img/item-1.jpg", alt="")
					.prod-dscr
						span.dscr
							| Экстра Мини 
							span / Матрас
					.prod-price
						span
							| От 8 660 руб.
					.prod-controls
						ul
							li
								a(href="#")
									img(src="img/star.png", alt="")
							li
								a(href="#")
									img(src="img/left-right.png", alt="")
				.product-item
					.prod-img
						img(src="img/item-1.jpg", alt="")
					.prod-dscr
						span.dscr
							| Экстра Мини 
							span / Матрас
					.prod-price
						span
							| От 8 660 руб.
					.prod-controls
						ul
							li
								a(href="#")
									img(src="img/star.png", alt="")
							li
								a(href="#")
									img(src="img/left-right.png", alt="")
				.product-item
					.prod-img
						img(src="img/item-1.jpg", alt="")
					.prod-dscr
						span.dscr
							| Экстра Мини 
							span / Матрас
					.prod-price
						span
							| От 8 660 руб.
					.prod-controls
						ul
							li
								a(href="#")
									img(src="img/star.png", alt="")
							li
								a(href="#")
									img(src="img/left-right.png", alt="")
			.watch-more
				a(href="ac-prod.html")
					| Смотреть все скидки на тонкие матрасы  →
	.container
		h2.title
			| Скидки на ортопедические матрасы
		.bestsellersSlider-wrap
			.bestsellers-items
				.product-item.product-item--ac
					.prod-img
						img(src="img/item-1.jpg", alt="")
					.prod-dscr
						span.dscr
							| Экстра Мини 
							span / Матрас
					.prod-price
						span
							| От 8 660 руб.
					.prod-controls
						ul
							li
								a(href="#")
									img(src="img/star.png", alt="")
							li
								a(href="#")
									img(src="img/left-right.png", alt="")
				.product-item
					.prod-img
						img(src="img/item-1.jpg", alt="")
					.prod-dscr
						span.dscr
							| Экстра Мини 
							span / Матрас
					.prod-price
						span
							| От 8 660 руб.
					.prod-controls
						ul
							li
								a(href="#")
									img(src="img/star.png", alt="")
							li
								a(href="#")
									img(src="img/left-right.png", alt="")
				.product-item
					.prod-img
						img(src="img/item-1.jpg", alt="")
					.prod-dscr
						span.dscr
							| Экстра Мини 
							span / Матрас
					.prod-price
						span
							| От 8 660 руб.
					.prod-controls
						ul
							li
								a(href="#")
									img(src="img/star.png", alt="")
							li
								a(href="#")
									img(src="img/left-right.png", alt="")
				.product-item
					.prod-img
						img(src="img/item-1.jpg", alt="")
					.prod-dscr
						span.dscr
							| Экстра Мини 
							span / Матрас
					.prod-price
						span
							| От 8 660 руб.
					.prod-controls
						ul
							li
								a(href="#")
									img(src="img/star.png", alt="")
							li
								a(href="#")
									img(src="img/left-right.png", alt="")
			.watch-more
				a(href="ac-prod.html")
					| Смотреть все скидки на ортопедические матрасы  →
	.container
		h2.title
			| Последнее пополнение ассортимента
		.bestsellersSlider-wrap
			.bestsellers-items
				.product-item
					.prod-img
						img(src="img/item-1.jpg", alt="")
					.prod-dscr
						span.dscr
							| Экстра Мини 
							span / Матрас
					.prod-price
						span
							| От 8 660 руб.
					.prod-controls
						ul
							li
								a(href="#")
									img(src="img/star.png", alt="")
							li
								a(href="#")
									img(src="img/left-right.png", alt="")
				.product-item
					.prod-img
						img(src="img/item-1.jpg", alt="")
					.prod-dscr
						span.dscr
							| Экстра Мини 
							span / Матрас
					.prod-price
						span
							| От 8 660 руб.
					.prod-controls
						ul
							li
								a(href="#")
									img(src="img/star.png", alt="")
							li
								a(href="#")
									img(src="img/left-right.png", alt="")
				.product-item
					.prod-img
						img(src="img/item-1.jpg", alt="")
					.prod-dscr
						span.dscr
							| Экстра Мини 
							span / Матрас
					.prod-price
						span
							| От 8 660 руб.
					.prod-controls
						ul
							li
								a(href="#")
									img(src="img/star.png", alt="")
							li
								a(href="#")
									img(src="img/left-right.png", alt="")
				.product-item
					.prod-img
						img(src="img/item-1.jpg", alt="")
					.prod-dscr
						span.dscr
							| Экстра Мини 
							span / Матрас
					.prod-price
						span
							| От 8 660 руб.
					.prod-controls
						ul
							li
								a(href="#")
									img(src="img/star.png", alt="")
							li
								a(href="#")
									img(src="img/left-right.png", alt="")
			.watch-more
				a(href="ac-prod.html")
					| Смотреть все последнее пополнение ассортимента  →
section.brands
	.container
		.brandsWrapper
			.brands-slider
				.b-slider
					img(src="img/br-1.jpg", alt="")
				.b-slider
					img(src="img/br-2.jpg", alt="")
				.b-slider
					img(src="img/br-3.jpg", alt="")
				.b-slider
					img(src="img/br-4.jpg", alt="")
				.b-slider
					img(src="img/br-5.jpg", alt="")
				.b-slider
					img(src="img/br-6.jpg", alt="")
				.b-slider
					img(src="img/br-7.jpg", alt="")
				.b-slider
					img(src="img/br-8.jpg", alt="")