section.bestsellers
	.container
		h2.title
			| Хиты продаж 
		.bestsellersSlider-wrap
			.bestsellers-items
				.product-item.product-item--hit
					.prod-img
						img(src="img/item-1.jpg", alt="")
					.prod-dscr
						span.dscr
							| Экстра Мини 
							span / Матрас
					.prod-price
						span
							| От 8 660 руб.
					.prod-controls
						ul
							li
								a(href="#")
									img(src="img/star.png", alt="")
							li
								a(href="#")
									img(src="img/left-right.png", alt="")
				.product-item
					.prod-img
						img(src="img/item-1.jpg", alt="")
					.prod-dscr
						span.dscr
							| Экстра Мини 
							span / Матрас
					.prod-price
						span
							| От 8 660 руб.
					.prod-controls
						ul
							li
								a(href="#")
									img(src="img/star.png", alt="")
							li
								a(href="#")
									img(src="img/left-right.png", alt="")
				.product-item
					.prod-img
						img(src="img/item-1.jpg", alt="")
					.prod-dscr
						span.dscr
							| Экстра Мини 
							span / Матрас
					.prod-price
						span
							| От 8 660 руб.
					.prod-controls
						ul
							li
								a(href="#")
									img(src="img/star.png", alt="")
							li
								a(href="#")
									img(src="img/left-right.png", alt="")
				.product-item
					.prod-img
						img(src="img/item-1.jpg", alt="")
					.prod-dscr
						span.dscr
							| Экстра Мини 
							span / Матрас
					.prod-price
						span
							| От 8 660 руб.
					.prod-controls
						ul
							li
								a(href="#")
									img(src="img/star.png", alt="")
							li
								a(href="#")
									img(src="img/left-right.png", alt="")
			.watch-more
				a(href="#")
					| Смотреть все хиты продаж  →
	.container
		h2.title
			| Новинки 
		.bestsellersSlider-wrap
			.bestsellers-items
				.product-item.product-item--new
					.prod-img
						img(src="img/item-1.jpg", alt="")
					.prod-dscr
						span.dscr
							| Экстра Мини 
							span / Матрас
					.prod-price
						span
							| От 8 660 руб.
					.prod-controls
						ul
							li
								a(href="#")
									img(src="img/star.png", alt="")
							li
								a(href="#")
									img(src="img/left-right.png", alt="")
				.product-item
					.prod-img
						img(src="img/item-1.jpg", alt="")
					.prod-dscr
						span.dscr
							| Экстра Мини 
							span / Матрас
					.prod-price
						span
							| От 8 660 руб.
					.prod-controls
						ul
							li
								a(href="#")
									img(src="img/star.png", alt="")
							li
								a(href="#")
									img(src="img/left-right.png", alt="")
				.product-item
					.prod-img
						img(src="img/item-1.jpg", alt="")
					.prod-dscr
						span.dscr
							| Экстра Мини 
							span / Матрас
					.prod-price
						span
							| От 8 660 руб.
					.prod-controls
						ul
							li
								a(href="#")
									img(src="img/star.png", alt="")
							li
								a(href="#")
									img(src="img/left-right.png", alt="")
				.product-item
					.prod-img
						img(src="img/item-1.jpg", alt="")
					.prod-dscr
						span.dscr
							| Экстра Мини 
							span / Матрас
					.prod-price
						span
							| От 8 660 руб.
					.prod-controls
						ul
							li
								a(href="#")
									img(src="img/star.png", alt="")
							li
								a(href="#")
									img(src="img/left-right.png", alt="")
			.watch-more
				a(href="#")
					| Смотреть все новинки  →
	.container
		h2.title
			| Акционные товары
		.bestsellersSlider-wrap
			.bestsellers-items
				.product-item.product-item--ac
					.prod-img
						img(src="img/item-1.jpg", alt="")
					.prod-dscr
						span.dscr
							| Экстра Мини 
							span / Матрас
					.prod-price
						span
							| От 8 660 руб.
					.prod-controls
						ul
							li
								a(href="#")
									img(src="img/star.png", alt="")
							li
								a(href="#")
									img(src="img/left-right.png", alt="")
				.product-item
					.prod-img
						img(src="img/item-1.jpg", alt="")
					.prod-dscr
						span.dscr
							| Экстра Мини 
							span / Матрас
					.prod-price
						span
							| От 8 660 руб.
					.prod-controls
						ul
							li
								a(href="#")
									img(src="img/star.png", alt="")
							li
								a(href="#")
									img(src="img/left-right.png", alt="")
				.product-item
					.prod-img
						img(src="img/item-1.jpg", alt="")
					.prod-dscr
						span.dscr
							| Экстра Мини 
							span / Матрас
					.prod-price
						span
							| От 8 660 руб.
					.prod-controls
						ul
							li
								a(href="#")
									img(src="img/star.png", alt="")
							li
								a(href="#")
									img(src="img/left-right.png", alt="")
				.product-item
					.prod-img
						img(src="img/item-1.jpg", alt="")
					.prod-dscr
						span.dscr
							| Экстра Мини 
							span / Матрас
					.prod-price
						span
							| От 8 660 руб.
					.prod-controls
						ul
							li
								a(href="#")
									img(src="img/star.png", alt="")
							li
								a(href="#")
									img(src="img/left-right.png", alt="")
			.watch-more
				a(href="#")
					| Смотреть все акционные товары  →
section.brands
	.container
		.brandsWrapper
			.brands-slider
				.b-slider
					img(src="img/br-1.jpg", alt="")
				.b-slider
					img(src="img/br-2.jpg", alt="")
				.b-slider
					img(src="img/br-3.jpg", alt="")
				.b-slider
					img(src="img/br-4.jpg", alt="")
				.b-slider
					img(src="img/br-5.jpg", alt="")
				.b-slider
					img(src="img/br-6.jpg", alt="")
				.b-slider
					img(src="img/br-7.jpg", alt="")
				.b-slider
					img(src="img/br-8.jpg", alt="")