.basket__wrapper#js_basket
    .b-close.fa.fa-close
    .basket__title Корзина
    form.basket__form
        .basket__table-wrap
            table.basket__table
                thead
                    tr.basket__caption-line
                        th.name Наименование товара
                        th.amount Количество
                        th.price Цена за 1 шт
                        th.summ Сумма
                        //- th.delivery Доставка этого товара
                        th.remove Удалить
                tbody
                    tr.basket__item-line
                        td.name
                            .img-wrap
                                img(src='img/category/1.jpg')
                            .desc-wrap
                                p.type Матрас
                                a.item-name(href='#') Luntek-18 medium econom
                        td.amount
                            input.spiner_amount(type='text' name='amount_01' value='1')
                        td.price 5 200 руб.
                        td.summ 5 200 руб.
                        //- td.delivery 1 546 руб.
                        td.remove
                            span.fa.fa-close
                    tr.basket__item-line
                        td.name
                            .img-wrap
                                img(src='img/category/2.jpg')
                            .desc-wrap
                                p.type Матрас
                                a.item-name(href='#') Luntek-18 medium econom
                        td.amount
                            input.spiner_amount(type='text' name='amount_01' value='1')
                        td.price 5 200 руб.
                        td.summ 5 200 руб.
                        //- td.delivery 1 546 руб.
                        td.remove
                            span.fa.fa-close
        .basket__form-fields
            .container_sm.clearfix
                .details__basket
                    p.line Cтоимость с доставкой:
                        span.sumDeliv 1 245 руб.
                    p.line Общая сумма:
                        span.summ 8 600 руб.
                .left-side
                    label
                        p.text Ваше имя
                            span.important *
                        input(type='text' name='name')
                    label
                        p.text Телефон
                            span.important *
                        input(type='text' name='tel')
                    label
                        p.text E-mail
                            span.important
                        input(type='text' name='email')
                    label
                        p.text Адрес доставки
                            span.important
                        input(type='text' name='adress')
                .right-side
                    label
                        textarea.comment(name='comment' placeholder='Поле для ввода комментария')
                .right-side.submit__side
                    .submit__line.clearfix
                        a.lookForward(href='#') Продолжить покупки
                        button(type='submit').submit Оформить заказ
        .basket__dont-forget
            p.basket__title Не забудьте купить
            ul.dont-forget__list
                li.dont-forget__item
                    .img-wrap
                        img(src='img/category/1.jpg')
                    .desc-wrap
                        p.cat Наматрасник
                        a.link(href='#') Пенополиуретановый
                        p.price 2 396 руб.
                li.dont-forget__item
                    .img-wrap
                        img(src='img/category/2.jpg')
                    .desc-wrap
                        p.cat Основание
                        a.link(href='#') Орион
                        p.price 1 396 руб.
                li.dont-forget__item
                    .img-wrap
                        img(src='img/category/1.jpg')
                    .desc-wrap
                        p.cat Наматрасник
                        a.link(href='#') Пенополиуретановый
                        p.price 2 396 руб.
.popup__form#popup_consult
    .b-close
        span Закрыть
    .title-consultation
        span Получите бесплатную консультацию
    form(action='#').popup__inner-wrap.js_valid-from
        .inputs-wrap
            label.textarea-wrap
                p.text Оставьте свое сообщение в этой форме, чтобы получить ответ специалиста
                textarea.consult__textarea(neme='message' placeholder='Текст сообщения')
            label.input-wrap
                input.js_val(type='text' name='name' placeholder='Ваше имя')
                ico.status
            label.input-wrap
                input.js_val(type='email' name='email' placeholder='E-mail')
                ico.status
        .consult__submit-wrap
            button(type='reset').reset.js_reset Отмена
            button(type='submit').submit Отправить
.popup__form#popup_nonstandart
    .b-close
        span Закрыть
    .title-consultation
        .inner
            p.big Отправьте сообщение
            p.subtext и с вами свяжутся в ближайшее время
    form(action='#').popup__inner-wrap.js_valid-from
        .inputs-wrap
            label.textarea-wrap
                textarea.consult__textarea(neme='message' placeholder='Текст сообщения')
            label.input-wrap
                input.js_val(type='text' name='name' placeholder='Ваше имя')
                ico.status
            label.input-wrap
                input.js_val(type='email' name='email' placeholder='E-mail')
                ico.status
        .consult__submit-wrap
            button(type='reset').reset.js_reset Отмена
            button(type='submit').submit Отправить
.popup__form#popup_buyinone
    .b-close
        span Закрыть
    .title-consultation
        .inner
            p.big Отправьте сообщение
            p.subtext и с вами свяжутся в ближайшее время
    form(action='#').popup__inner-wrap.js_valid-from
        .inputs-wrap
            label.input-wrap
                input.js_val(type='text' name='name' placeholder='Ваше имя')
                ico.status
            label.input-wrap
                input.js_val(type='email' name='text' placeholder='Ваш телефон')
                ico.status
        .consult__submit-wrap
            button(type='reset').reset.js_reset Отмена
            button(type='submit').submit Отправить