.about {
    .brands-info {
        padding-bottom: 40px;
    }
    &-wrap {
        padding-top: 40px;
        padding-bottom: 75px;
    }
}
.about-items {
    display: -webkit-flex;
    display:    -moz-flex;
    display:     -ms-flex;
    display:      -o-flex;
    display:         flex;
    justify-content: space-around;
    flex-flow: row wrap;
}
.about-item {
    width: 16%;
    display: inline-block;
    vertical-align: top;
}
.about-img {
    margin-bottom: 15px;
    text-align: center;
}
.about-dscr {
    color: #777;
    font-size: 14px;
    line-height: 18px;
}
@include breakpoint(800) {
    .about-item {
        width: 30%;
        text-align: center;
        margin-bottom: 20px;
    }
}
@include breakpoint(320) {
    .about-item {
        width: 100%;
    }
}
