
.brands-info {
    background: #f5f5f5;
    padding-top: 45px;
    .container {
        max-width: 970px;
        padding-bottom: 70px;
    }
}
.brand-info {
    @include clearfix;
    margin-bottom: 40px;
    &:last-child {
        margin-bottom: 0;
    }
}



.br-img {
    width: 29%;
    margin-right: 2%;
}
.br-dscr {
    span {
        font-size: 18px;
        color: #222;
        display: block;
        margin-bottom: 16px;
    }
    p {
        margin-bottom: 16px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    padding-top: 15px;
    padding-bottom: 15px;
    width: 69%;
    line-height: 20px;
    font-size: 14px;
    color: #777;
}

.breeze {
    .brands-info {
        .container {
            max-width: 1170px;
        }
    }
    .br-dscr {
        width: 65%;
    }
}
.entry {
    .brands-info {
        .container {
            max-width: 1170px;
        }
    }
    .br-dscr {
        width: 65%;
    }
}
.guarantees {
    .brands-info {
        .container {
            max-width: 1070px;
        }
    }
    .brand-info {
        margin: 0 auto;
        margin-bottom: 20px;
        padding:  {
            top: 20px;
            bottom: 20px;
            right: 20px;
        }
        div {
            display: inline-block;
            vertical-align: middle;
        }
        &--alert {
            background: #fff;
            p {
                color: #777;
                font-size: 12px;
                font-style: italic;
            }
        }
    }
    .br-dscr {
        padding-top: 0;
        padding: 0;
        padding-left: 10px;
        width: 82%;
        text-align: left;
        .red {
            display: inline;
            color: #f26c81;
        }
    }
    .br-img {
        text-align: center;
        width: 17%;
        margin-right: 0;
    }
}
.order {
    .brands-info {
        .container {
            max-width: 1170px;
        }
    }
    .br-dscr {
        width: 68%;
    }
    &-items {
        display: -moz-flex;
        display:  -ms-flex;
        display:   -o-flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display:      flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-around;
        flex-flow: row wrap;
    }
    &-item {
        background: #fff;
        width: 31%;
        display: inline-block;
        vertical-align: top;
    }
    .o-dscr {
        width: 83%;
        font-size: 15px;
        margin: 0 auto;
        line-height: 18px;
        padding: 15px 0;
    }
    .o-img {
        max-height: 155px;
        overflow: hidden;
        img {
            width: 100%;
            height: 100%;
        }
    }
    .howTo-order {
        .container {
            max-width: 860px;
        }
    }
    .howTo-item {
        @include clearfix;
        div {
            float: left;
        }
    }
    .h-img {
        text-align: center;
        padding-top: 30px;
        width: 11%;
        vertical-align: middle;
        margin-right: 2%;
    }
    .h-dscr {
        padding-top: 15px;
        vertical-align: top;
        padding-bottom: 15px;
        width: 87%;
        line-height: 20px;
        font-size: 14px;
        color: #777;
        span {
            font-size: 18px;
            color: #222;
            display: block;
            margin-bottom: 16px;
        }
    }
}
@include breakpoint(320) {
    .br-img,
    .br-dscr {
        float: none;
        width: 100% !important;
    }
    .br-dscr {
        span {
            text-align: center;
        }
    }
    .br-img {
        text-align: center;
    }
    .guarantees {
        .br-img {
            width: 100%;
            margin-bottom: 15px;
        }
        .br-dscr {
            width: 100%;
        }
        .brand-info--alert {
            .br-dscr {
                text-align: center;
            }
        }
    }
    .order-item {
        width: 100%;
        div {
            float: none;
        }
    }
    .order {
        .h-img {
            width: 100%;
            margin: 0;
        }
        .h-dscr{
            width: 100%;
            span{
                text-align: center;
            }
        }
    }
}




 /* delivery  */
.delivery-info-wrap {
    padding: 64px 0;
    background: #f5f5f5;
    .container {
        max-width: 990px;
    }
}
.delivery-info {
    @include clearfix;
    margin-bottom: 45px;
    &:last-child {
        margin-bottom: 0;
    }

    .del-img {
        padding-top: 14px;
    }
}


.del-img {
    width: 120px;
}
.del-dscr {
    margin-left: 140px;
    line-height: 20px;
    font-size: 14px;
    color: #777;
    .del-title {
        font-size: 18px;
        color: #222;
        margin-bottom: 14px;
        font-weight: 500;
    }
    p {
        margin-bottom: 14px;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

@media screen and (max-width: 420px) {
    .delivery-info-wrap {
        padding: 32px 0;
    }
    .del-dscr {
        margin-left: 0;
    }
    .del-img {
        width: 100%;
        text-align: center;
        margin-bottom: 10px;
    }
    .delivery-info {
        margin-bottom: 18px;
        .del-img {
            padding-top: 0;
        }
    }
}