.search-filter-wrap {
	margin-bottom: 20px;
	.filter_title {
		font-size: 22px;
		color: #fff;
		background-color: #f46f84;
		margin: 0;
		text-align: center;
		padding: 15px 20px;
		font-weight: 400;
	}
	.submit-wrap {
		margin-top: 15px;
		text-align: center;
	}
	.submit {
		display: inline-block;
		padding: 8px 22px;
		background-image: -moz-linear-gradient( 90deg, rgb(241,95,118) 0%, rgb(244,111,132) 100%);
		background-image: -webkit-linear-gradient( 90deg, rgb(241,95,118) 0%, rgb(244,111,132) 100%);
		background-image: -ms-linear-gradient( 90deg, rgb(241,95,118) 0%, rgb(244,111,132) 100%);
		box-shadow: 0px 2px 1px 0px rgba(0, 0, 1, 0.15);
		border-radius: 3px;
		margin-right: 20px;
		color: #fff;
		font-size: 14px;
		&:hover {
			background-image: -moz-linear-gradient( 90deg, rgb(220,86,107) 0%, rgb(244,111,132) 100%);
			background-image: -webkit-linear-gradient( 90deg, rgb(220,86,107) 0%, rgb(244,111,132) 100%);
			background-image: -ms-linear-gradient( 90deg, rgb(220,86,107) 0%, rgb(244,111,132) 100%);
			box-shadow: 0px 2px 1px 0px rgba(0, 0, 1, 0.15);
		}

	}
	.available_text {
		display: inline-block;
		color: #f46f84;
		font-size: 14px;
	}
}

.filters-wrap {
	background-color: #edeef0;
	padding: 30px 65px;
	@include clearfix;
	.select-size-wrap {
		margin-top: 85px;
		float: left;
		select {
			display: block;
			width: 110px;
			border-style: solid;
			border-width: 1px;
			border-color: rgb(197, 207, 217);
			background-color: rgb(255, 255, 255);
			box-shadow: 1px 1.732px 1px 0px rgba(0, 0, 0, 0.15);
			&:focus {
				outline: none;
			}
			option {
				color: #777777;
				font-size: 15px;
				padding: 6px 8px 6px 18px;
				:selected {
					// background-color: #fff;
				}
			}
		}
	}
	.selectors-block {
		@include border-radius(2px);
		margin-left: 20px;
		background-color: #dce2e8;
		padding: 38px 30px;
		width: 300px;
		float: left;
		.line {
			margin-bottom: 10px;
			&:last-of-type{
				margin-bottom: 0;
			}
		}
		.line__caption{
			color: #333333;
			font-size: 15px;
			margin-bottom: 7px;
		}
		.select-wrap {
			.width + .select2{
				width: 107px !important;
			}
			.length + .select2{
				float: right;
				width: 107px !important;
			}
			.heightFrom + .select2,
			.heightTo + .select2 {
				width: 107px !important;
			}
			.heightTo + .select2{
				float: right;
			}
		}
		.producer + .select2,
		.priceRange + .select2{
			width: 100% !important;
		}
	}
	.select2-container--default {
		.select2-selection--single {
			@include border-radius(3px);
			border: 1px solid #c5cfd9;
			.select2-selection__rendered{
				color: #c5cfd9;
				padding: {
					top: 9.5px;
					bottom: 9.5px;
				}
				line-height: 1;
			}
			.select2-selection__arrow {
				height: 34px;
			}
		}
		.select2-selection--single {
			height: 34px;

		}
	}


	.checkbox-block {

		width: 540px;
		float: left;
		margin-left: 26px;
		.checkbox-caption {
			display: inline-block;
			margin-bottom: 10px;
			@include border-radius(2px);
			color: #333333;
			font-size: 15px;
			background-color: #dce2e8;
			padding: 8px 15px;
		}
		.checkbox {
			margin-bottom: 8px;
		}
		.line-block {
			margin-bottom: 20px;
			&:last-of-type {
				margin-bottom: 0;
			}
		}
		.left-side {
			float: left;
			width: 50%;
		}
		.right-side {
			float: right;
			width: 50%;
		}
		.for_Up {
			width: 50%;
			float: left;
		}
		.for_Down {
			width: 50%;
			float: right;
		}
		.for_mattressType {
			width: 50%;
			float: left;
		}
		.for_rigidity {
			width: 50%;
			float: right;
		}
		.for_Other {
			margin-top: 42px;
		}
	}

}

.select2-container {
	font-size: 15px;
	color: #777;
}
.clearfix {
	@include clearfix;
}
.fr {
	float: right;
}
.fl {
	float: left;
}

/* стили чекбокса */
.checkbox {
	display: block;
	input {
		display: none;
		&:checked + .checkbox-text .dot:after {
			display: inline-block;
			opacity: 1;
		}
	}
	.checkbox-text {
		cursor: pointer;
		display: block;
		position: relative;
		color: #777777;
		font-size: 15px;
		.text {
			display: block;
		    padding-right: 10px;
		}
		.dot {
			position: absolute;
			padding: 2px;
			left: 0px;
			top: 2px;
			width: 14px;
			height: 14px;
			border-radius: 3px;
			background-color: #fff;
			border: {
				width: 1px;
				style: solid;
				color: #d9d9d9;
			}
			&:after {
				display: none;
				content: '';
				width: 10px;
				height: 8px;
				left: 1.5px;
				position: absolute;
				background: {
					image: url(../img/icons/elements/check_mark.png);
					size: cover;
					repeat: no-repeat;
				}
				border-radius: 50%;
			}
		}
		.text {
			margin-left: 22px;
		}
	}
}