.li-ac {
    color: #f26c81;
}
.header {
    // height: 500px;
    &__first-line {
        display: block;
        font-size: 13px;
        color: #777;
        background: #edeef0;
        min-height: 35px;
        line-height: 35px;
        a {
            &:hover {
                color: #585855;
            }
        }
        .container {
            @include clearfix;
        }
        span {
            margin: 0 3px;
        }
    }
    &__second-line {
        display: block;
        min-height: 150px;
        background: #fdfdfd;
        border-bottom: 1px solid #edeef0;
        margin-bottom: 35px;
        .container {
            @include clearfix;
        }
    }
    &__750mnu {
        display: none;
        .container {
            @include clearfix;
            line-height: 110px;
        }
        .second-left {
            margin-right: 95px;
            .logo-wrap {
                line-height: 110px;
            }
        }
        background: #fdfdfd;
        .options-wrap {
            color: #777;
            font-size: 13px;
            padding-top: 18px;
            li {
                display: inline-block;
                margin-right: 30px;
                a {
                    position: relative;
                    display: block;
                }
                &:nth-child(1) {
                    a {
                        &:before {
                            content: "";
                            position: absolute;
                            background: url(../img/bag2.png);
                            width: 27px;
                            height: 25px;
                            // background-size: cover;
                            left: 0;
                            right: 0;
                            margin: auto;
                            top: 15px;
                            filter: grayscale(1);
                        }
                    }
                }
                &:nth-child(2) {
                    a {
                        &:before {
                            content: "";
                            position: absolute;
                            background: url(../img/star2.png);
                            width: 27px;
                            height: 25px;
                            // background-size: cover;
                            left: 0;
                            right: 0;
                            margin: auto;
                            top: 15px;
                            filter: grayscale(1);
                        }
                    }
                }
                &:nth-child(3) {
                    margin-right: 0;
                    a {
                        &:before {
                            content: "";
                            position: absolute;
                            background: url(../img/left2.png);
                            width: 28px;
                            height: 21px;
                            // background-size: cover;
                            left: 0;
                            right: 0;
                            margin: auto;
                            top: 15px;
                            filter: grayscale(1);
                        }
                    }
                }
            }
        }
    }
    &__main-mnu {
        .container {
            // max-width: 960px;
        }
    }
    &__drop-down {
        display: none;
        background: #f46f84;
        line-height: 60px;
        color: #fff;
        font-size: 22px;
        text-align: center;
        margin-bottom: 35px;
        .container {
            @include clearfix;
        }
        span {
            float: left;
            a {
                position: relative;
                padding-right: 20px;
                &:after {
                    content: "";
                    position: absolute;
                    background: url("../img/arrow-d.png");
                    width: 9px;
                    height: 5px;
                    top: 0;
                    bottom: 0;
                    margin: auto;
                    right: 0;
                }
            }
        }
        .dr-1 {
            width: 30%;
            border-right: 1px solid rgba(255, 255, 255, .4);
        }
        .dr-2 {
            width: 70%;
        }
    }
}
.header__main-mnu {
    display: block;
    padding-bottom: 40px;
    .container {
        max-width: 1200px;
    }
}
.first-mnu,
.first-options {
    li {
        display: inline-block;
        margin-right: 25px;
        &:last-child {
            margin-right: 0;
        }
    }
}
.first-options {
    margin-right: 115px;
}
.bag-wrapper {
    .bag-info {
        position: relative;
        padding-left: 30px;
        &:before {
            content: "";
            position: absolute;
            background: url(../img/bag.png);
            width: 20px;
            height: 18px;
            left: 0;
            top: 0;
            bottom: 0;
            margin: auto;
        }
    }
}
.second {
    &-left {
        width: 18%;
        .logo-wrap {
            line-height: 150px;
            img {
                vertical-align: middle;
            }
            a {
                display: block;
            }
        }
    }
    &-center {
        padding: 40px 0;
        .search-title {
            text-align: center;
            font-size: 18px;
            margin-bottom: 15px;
        }
        width: 64%;
        // text-align: center;
        font-family: Georgia, "Times New Roman", Times, serif;
        font-style: italic;
        font-weight: bold;
        color: #222;
        font-size: 18px;
        .form-wrap {
            position: relative;
            &:hover {
                .s-input {
                    border: 1px solid #9bccc4;
                }
                .submit-btn {
                    background-color: #dc5066;
                    -webkit-box-shadow: -1px 0 7px 0 rgba(0,0,0,.2);
                       -moz-box-shadow: -1px 0 7px 0 rgba(0,0,0,.2);
                            box-shadow: -1px 0 7px 0 rgba(0,0,0,.2);
                }
            }
        }
        .search-form {
            width: 75%;
            margin: 0 auto;
        }
        .s-label {
            display: block;
        }
        .s-input {
            @include transition(.25s);
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
            width: 88%;
            border: 1px solid #e3e4e8;
            height: 35px;
            padding-left: 18px;
            color: #a9a9a9;
            font-size: 15px;
        }
        .submit-btn {
            @include transition(.25s);
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;
            position: absolute;
            top: 0;
            right: 0;
            width: 66px;
            height: 35px;
            background: #f3697f;
            background-image: url("../img/loupe.png");
            background-repeat: no-repeat;
            background-position: center;
        }
        .s-input::-webkit-input-placeholder {
            color: #a9a9a9;
            font-size: 15px;
        }
        .s-input::-moz-placeholder {
            color: #a9a9a9;
            font-size: 15px;
        }/* Firefox 19+ */
        .s-input:-moz-placeholder {
            color: #a9a9a9;
            font-size: 15px;
        }/* Firefox 18- */
        .s-input:-ms-input-placeholder {
            color: #a9a9a9;
            font-size: 15px;
        }
    }
    &-right {
        width: 18%;
        .c-wrap {
            padding: 22px 0;
        }
        text-align: center;
        .telTo {
            font-size: 18px;
            font-weight: bold;
            display: block;
            margin-bottom: 5px;
        }
        .work-title {
            margin-top: 5px;
            margin-bottom: 5px;
            display: block;
            font-size: 13px;
            color: #777;
        }
        .work-time {
            color: #282828;
            font-style: italic;
        }
    }
}
.telTo {
    font-size: 18px;
    font-weight: bold;
    display: none;
}
.mnu-wrapper {
    ul {
        display: -webkit-flex;
        display:    -moz-flex;
        display:     -ms-flex;
        display:      -o-flex;
        display:         flex;
        justify-content: space-around;
        position: relative;
        flex-flow: row wrap;
    }
}
.mnu-item {
    @include transition(.25s);
    cursor: pointer;
    display: inline-block;
    text-align: center;
    // width: 15%;
    // position: relative;
    img {
        width: 100px;
        height: 60px;
        margin-bottom: 5px;
    }
    a {
        display: block;
        position: relative;
        padding-bottom: 20px;
    }
    &:hover {
        color: #f46f84;
    }
    &--active {
        a {
            &:after {
                content: "";
                position: absolute;
                background: url("../img/triangle.png");
                background-repeat: no-repeat;
                left: 0;
                right: 0;
                margin: auto;
                bottom: 0;
                width: 28px;
                height: 12px;
                z-index: 100500 !important;
            }
        }
    }
}
.sub-list {
    @include clearfix;
    cursor: default;
    display: block;
    font-size: 0;
    ul {
        vertical-align: top;
        font-size: 13px;
        display: inline-block;
        // width: 185px;
        width: 16.2%;
        margin-right: 5px;
        margin-bottom: 20px;
        li {
            &:first-child {
                margin-bottom: 10px;
                font-weight: 700;
                &:hover {
                    // background: red;
                    background: none;
                    border-left: 2px solid transparent;
                    cursor: default;
                }
            }
        }
    }
    text-align: left;
    display: none;
    @include border-radius(3px);
    background: #fff;
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
       -moz-box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
            box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
    position: absolute;
    z-index: 200 !important;
    color: #4d4d4f;
    width: 100%;
    padding: 13px 0;
    top: 107px;
    // left: 15px;
    right: 0;
    li {
        cursor: pointer;
        @include transition(.25s);
        line-height: 30px;
        border-left: 2px solid transparent;
        padding-left: 5px;
        &:hover {
            background: #f0f2f5;
            border-left: 2px solid #f46f84;
        }
    }
    a {
        padding-bottom: 0;
        &:after {
            content: none;
        }
    }
    .col-2 {
        // columns: 2;
    }
}
.sub-listCustom {
    ul {
        width: 13.84%;
    }
}
.sub-listCustom-o {
    ul {
        width: 13.84%;
        &:first-child {
            width: 11.84%;
        }
        &:nth-child(5) {
            width: 15.84%;
        }
    }
}
.sub-listCustom-p {
    ul {
        width: 13.84%;
        &:nth-child(2) {
            width: 11.84%;
        }
        &:nth-child(3) {
            width: 11.84%;
        }
        &:nth-child(5) {
            width: 17.84%;
        }
    }
}
.sub-listCustom-6 {
    ul {
        &:nth-child(2) {
            width: 14.2%;
        }
        &:nth-child(4) {
            width: 15.2%;
        }
        &:nth-child(5) {
            width: 14.2%;
        }
        &:last-child {
            width: 21.2%;
        }
    }
}
.sub-listCustom_1 {
    ul {
        &:first-child {
            width: 14%;
        }
        &:nth-child(2) {
            width: 18.2%;
        }
    }
}
.mnu-item  .sub-listCustom-f {
    width: 250px;
    ul {
        width: 100% !important;
        margin-bottom: 0;
        li {
            &:first-child {
                cursor: pointer;
                margin-bottom: 0;
                font-weight: normal;
                &:hover {
                    background: #f0f2f5;
                    border-left: 2px solid #f46f84;
                }
            }
        }
    }
}
.img-trigger {
    display: none;
}
.catalog-mnu {
    display: none;
    .catalog-sublist {
        width: 235px;
        display: none;
        position: absolute;
        left: 30%;
        top: 100%;
        li {
            padding-left: 10px;
            &:after {
                content: none;
            }
        }
    }
    position: relative;
    top: 20px;
    float: none;
    ul {
        text-align: left;
        @include border-radius(3px);
        background: #fff;
        -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
           -moz-box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
                box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
        position: absolute;
        z-index: 200 !important;
        font-size: 14px;
        color: #4d4d4f;
        width: 175px;
        padding: 13px 0;
        top: 60px;
        left: 0;
        li {
            @include transition(.25s);
            display: block;
            margin-right: 0;
            line-height: 30px;
            border-left: 2px solid transparent;
            padding-left: 20px;
            cursor: pointer;
            position: relative;
            &:after {
                content: "";
                position: absolute;
                background: url(../img/arrow-r.png);
                width: 5px;
                height: 8px;
                top: 0;
                bottom: 0;
                margin: auto;
                right: 20px;
            }
            &:hover {
                background: #f0f2f5;
                border-left: 2px solid #f46f84;
                // .catalog-sublist {
                //     display: block;
                // }
            }
        }
    }
    &--active {
        background: #f0f2f5;
        border-left: 2px solid #f46f84 !important;
    }
}
@include breakpoint(1150) {
    .header__first-line {
        .container {
            position: relative;
        }
    }
    .img-trigger {
        width: 25px;
        display: block;
        position: absolute;
        right: 15px;
        line-height: 0;
        top: 8px;
        cursor: pointer;
    }
    .first-mnu {
        display: none;
        float: none;
        ul {
            text-align: left;
            @include border-radius(3px);
            background: #fff;
            -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
               -moz-box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
                    box-shadow: 0 0 10px 0 rgba(0,0,0,.2);
            position: absolute;
            z-index: 200 !important;
            font-size: 14px;
            color: #4d4d4f;
            width: 275px;
            padding: 13px 0;
            top: 60px;
            right: 15px;
            li {
                @include transition(.25s);
                display: block;
                margin-right: 0;
                line-height: 30px;
                border-left: 2px solid transparent;
                padding-left: 20px;
                &:hover {
                    background: #f0f2f5;
                    border-left: 2px solid #f46f84;
                }
            }
        }
    }
    .bag-wrapper {
        float: left;
        width: 32%;
    }
    .first-options {
        width: 40%;
        margin-right: 0;
    }
}
@include breakpoint(1115) {
    .sub-list ul {
        width: 24.45% !important;
    }
}
@include breakpoint(1050) {
    .mnu-item {
        width: 25%;
        margin-bottom: 5px;
    }
}
@include breakpoint(950) {
    .telTo {
        display: block;
        float: left;
    }
    .c-wrap {
        display: none;
    }
    .second-left {
        width: 25%;
    }
    .second-center {
        float: right;
        width: 75%;
    }
}
@include breakpoint(952) {
    .sub-list ul {
        width: 32.5% !important;
    }
}
@include breakpoint(800) {
    .first-options,
    .bag-wrapper {
        width: 35%;
    }
}
@include breakpoint(750) {
    .header__first-line,
    .header__second-line {
        display: none;
    }
    .header__main-mnu {
        display: none;
    }
    .header__drop-down {
        display: block;
    }
    .header__750mnu {
        display: block;
        .img-trigger {
            padding-top: 26px;
            width: auto;
        }
        .first-mnu {
            ul {
                top: 80px;
            }
        }
    }
    .product-item {
        padding: 17px 10px !important;
        width: 215px !important;
        margin-right: 10px !important;
    }
}
@include breakpoint(320) {
    .header__drop-down {
        font-size: 16px;
        .dr-1 {
            width: 40%;
        }
        .dr-2 {
            width: 60%;
        }
    }
    .header__750mnu {
        .second-left {
            width: 62%;
        }
        .options-wrap {
            li {
                margin-right: 23px;
            }
        }
    }
    .product-item {
        width: 270px !important;
    }

    .ns-slider {
        margin-right: 30px !important;
        margin-left: 34px !important;
        .ns-img {
            text-align: center;
        }
    }
}
