.homepage__slider {

}
.homepage__slide {
	// background-color: #dfe3e3;
	// line-height: 0;
	.slide__inner-wrap {
		// padding: 0 45px 30px;
		padding: 0;
		background-repeat: no-repeat;
		background-size: cover;
		height: 500px;
		position: relative;
		&.sell-out {
			background-position: 50%;
		}
	}
	.slide-content {
		position: absolute;
		top:25%;
		left: 20%;
	}
	.skidka-img {
	    width: 75%;
		// width: 90%;
		margin-bottom: -15px;
	}
	.details {
		position: absolute;
		left: 0;
		bottom: 0;
		display: inline-block;
		padding: 12px 18px;
		border-radius: 3px;
		color: #fff;
		font-style: italic;
		font-size: 14px;
		font-weight: 300;
		background-image: -moz-linear-gradient( 90deg, rgb(74,167,182) 0%, rgb(90,190,206) 100%);
		background-image: -webkit-linear-gradient( 90deg, rgb(74,167,182) 0%, rgb(90,190,206) 100%);
		background-image: -ms-linear-gradient( 90deg, rgb(74,167,182) 0%, rgb(90,190,206) 100%);
		box-shadow: 0 -3px rgb(35,132,147) inset;
		// transition: background .25s;
		&:hover {
			background: #238493;
		}

	}
}
.homeslider-filter-wrap {
	.container_bimbo {
		float: left;
		width: 50%;
		padding: 0;
	}
	.container {

	}
}
#container-filter {
	padding-left: 10px;
}
.homepage__slider-wrap {
	position: relative;
	margin-bottom: 30px;
	.bx-controls-direction {
		position: absolute;
		top: 50%;
		left: 0;
		margin-top: -20px;
		width: 100%;
		@include clearfix;
		font-size: 0;
	}
	.bx-next {
		float: right;
		display: block;
		width: 40px;
		height: 40px;
		background-color: #c5c6c6;
		overflow: hidden;
		position: relative;
		transition: background 0.25s;
		&:before {
			content: '';
			display: block;
			position: absolute;
			width: 7px;
			height: 12px;
			top: 50%;
			left: 50%;
			margin-top: -6px;
			margin-left: -3px;
			transform: rotate(-180deg);
			background: {
				image: url('../img/icons/arrows/left_white_sm.png');
				size: cover;
			}

		}
		&:hover {
			background-color: $pink;
		}
	}
	.bx-prev {
		float: left;
		display: block;
		width: 40px;
		height: 40px;
		background-color: #c5c6c6;
		overflow: hidden;
		position: relative;
		transition: background 0.25s;
		&:before {
			content: '';
			display: block;
			position: absolute;
			width: 7px;
			height: 12px;
			top: 50%;
			left: 50%;
			margin-top: -6px;
			margin-left: -3px;
			background: {
				image: url('../img/icons/arrows/left_white_sm.png');
				size: cover;
			}

		}
		&:hover{
			background-color: $pink;
		}
	}
	.bx-pager {
		font-size: 0;
		position: absolute;
		bottom: 24px;
		left: 0;
		text-align: center;
		width: 100%;
	}
	.bx-pager-item {
		display: inline-block;
		margin: 0 5px;
	}
	.bx-pager-link {
		display: block;
		height: 8px;
		width: 8px;
		@include border-radius(50%);
		background-color: #bababa;
		&.active {
			background-color: #f26c81;
		}
	}
}

.steps_block {
	margin-bottom: 55px;
	.block_footer {
		text-align: center;
	}
}
.more-link {
	display: inline-block;
}
.steps__list {
	margin-top: 10px;
	margin-bottom: 35px;
}
.steps__item {
	padding-top: 25px;
	float: left;
	width: 25%;
	&.first,
	&.fourth{
		.steps_caption {
			&:before {
				display: block;
				position: absolute;
				content: '';
				top: 7px;
				width: 7px;
				height: 7px;
				border-radius: 50%;
				background-color: #a7adb7;
			}

		}
	}
	&.first,
	&.second,
	&.third {
		.steps_caption {
			.ico {
				display: block;
				position: absolute;
				top: -15px;
				width: 49px;
				height: 49px;
				right: -22px;
				z-index: 1;
				border-radius: 50%;
				background-color: #a7adb7;
				&:before {
					display: block;
					position: absolute;
					content: '';
					top: 50%;
					left: 50%;
				}
			}
			&.pink .ico {
				background-color: #f26c81;
			}
		}
	}
	&.first {
		.ico:before{
			background-image: url(../img/icons/elements/check_mark-big.png);
			width: 20px;
			height: 15px;
			margin-top: -7px;
			margin-left: -10px;
		}
	}
	&.second {
		.ico:before{
			background-image: url(../img/icons/elements/card.png);
			width: 21px;
			height: 18px;
			margin-top: -9px;
			margin-left: -10px;
		}
	}
	&.third {
		.ico:before{
			background-image: url(../img/icons/elements/bag.png);
			width: 21px;
			height: 15px;
			margin-top: -7px;
			margin-left: -10px;
		}
	}
	&.first .steps_caption:before{
		background-color:  #f46f84;
	}
	&.fourth .steps_caption:before{
		right: 0;
	}
	.steps_caption {
		background: {
			image: url(../img/icons/dots_grey.png);
			repeat: repeat-x;
			position: center center;
		}
		text-align: center;
		color: #a7adb7;
		font-size: 18px;
		position: relative;
		z-index: 1;
		&.pink {
			background: {
				image: url(../img/icons/dots_pink.png);
			}
			color: #f46f84;

		}
		span {
			display: inline-block;
			padding: 0 10px;
			background-color: #fff;
		}
	}
	.steps_details {
		font-size: 14px;
		text-align: center;
		padding: 20px 15px 0;
		color: #222222;
	}
}

/*  INFO BLOCK */
.info {
	background-color: #edeef0;
	margin-bottom: 40px;
}
.info__list {
	padding: 50px 0;
}
.info__item {
	font-size: 13px;
	color: #222222;
	float: left;
	width: 20%;
	padding: 0 10px;
	text-align: center;
	.ico {
		img {
			min-height: 55px;
			max-width: 85px;
		}
	}
	.info__details {
		margin-top: 22px;
		text-align: left;
	}
}

.info__list_link {
	color: $blue;
	display: none;
	&:hover {
		text-decoration: underline;
	}
}

/* TEXT BLOCK*/
.section__text {
	background-color: #edeef0;
	color: #777777;
	font-size: 14px;
	line-height: 20px;
	.container_sm {
		padding-top: 40px;
		padding-bottom: 55px;
	}
	.title {
		margin-bottom: 40px;
	}
	.subtitle {
		margin-bottom: 12px;
		font-size: 18px;
		color: #222222;
	}
	.text-section {
		margin-bottom: 30px;
		&:last-of-type {
			margin-bottom: 0;
		}
	}
	.indent {
		text-indent: 35px;
	}
	.mb {
		margin-bottom: 10px;
	}
}
@media screen and (max-width: 1024px) {
	.homepage__slide .skidka-img {
		max-width: 300px;
		margin-bottom: 0;
	}

}
@media screen and (max-width: 900px) {
	.homepage__slide {
		.slide__inner-wrap.sell-out {
			background-position: 50% center;
		}
	}
	.steps__item {
		width: 50%;
		&.first .steps_caption,
		&.second .steps_caption,
		&.third .steps_caption {
			 .ico {
				right: 0;
			 }
		}
		.steps_details {
			height: 70px;
		}
	}
	.info__list {
		text-align: center;
		font-size: 0;
		padding: 30px 0 15px;
	}
	.info__item {
		display: inline-block;
		width: 33%;
		float: none;
		margin-bottom: 30px;
		vertical-align: top;
		.info__details {
			text-align: center;
		}
	}
}
@media screen and (max-width: 751px){
	.homeslider-filter-wrap {
		.container {
			padding: 0;
		}
	}
	#container-filter {
		padding-left: 0;
	}
	.homeslider-filter-wrap .container_bimbo {
		width: 100%;
		float: none;
	}
	.homepage__slide {
		.slide__inner-wrap {
			height: 280px;
		}
		.skidka-img {
			max-width: 250px;
			margin-bottom: 0;
		}
	}
	#container-filter {
		position: absolute;
		left: 0;
		width: 100%;
		display: none;
		z-index: 2;
		.filter_title {
			display: none;
		}
	}
}
@media screen and (max-width: 751px)  and (min-width: 481px) {
	.steps__list {
		text-align: center;
	}
	.steps__item {
		width: 50%;
		&.first,
		&.second {
			float: none;
			vertical-align: top;
			width: 40%;
			display: inline-block;
		}
		&.first .steps_caption,
		&.second .steps_caption,
		&.third .steps_caption {
			 .ico {
				right: -22px;
			 }
		}
		&.third {
			.steps_caption,
			.steps_details {
			padding-right: 25%;
			}
			.steps_caption {
				.ico {
					right: 12%;
				}
			}
		}
		&.second .steps_caption {
			.ico {
				display: none;
			}
		}
		&.first .steps_caption {
			.ico {
				right: -22px;
			}
		}
		&.fourth {
			.steps_caption,
			.steps_details {
				padding-left: 25%;
			}

			.steps_caption {
					&:before {
						display: block;
						position: absolute;
						position: absolute;
						top: -15px;
						width: 49px;
						height: 49px;
						left: 12%;
						z-index: 1;
						border-radius: 50%;
						background-color: #a7adb7;
						background-position: center center;
						background-repeat: no-repeat;
						background-image: url(../img/icons/elements/card.png);
				}
			}
		}
		.steps_details {
			height: 70px;
		}
	}
}

@media screen and (max-width: 481px) {
	.steps__item {
		width: 100%;
		.steps_details {
			font-size: 15px;
		}
		&.first .steps_caption,
		&.third .steps_caption {
			text-align: left;
			span {
				padding-right: 10%;
			}
			margin-right: 20%;
			.ico {
				right: -20%;
			    margin-right: -10px;
			}
		}
		&.first .steps_caption {
			.ico:before {
				background-image: url(../img/icons/elements/loupe.png);
				height: 21px;
				margin-top: -11px;
			}
			&:before {
				display: none;
			}
		}
		&.second .steps_caption ,
		&.fourth .steps_caption {
			text-align: right;
			span {
				padding-left: 10%;
			}
			margin-left: 20%;
			.ico{
				margin-left: -10px;
				left: -20%;
			}
		}
		&.second .steps_caption {
			.ico {
				&:before {
					background-image: url(../img/icons/elements/check_mark-big.png);
					background-repeat: no-repeat;
					height: 21px;
					margin-top: -7px;
				}
			}
		}
		&.third .steps_caption {
			.ico {
				background-color: $pink;
			}
		}
		&.fourth .steps_caption {
			&:before {
				display: block;
				position: absolute;
				top: -15px;
				width: 49px;
				height: 49px;
				left: -20%;
				margin-left: -10px;
				z-index: 3;
				border-radius: 50%;
				background-color: #a7adb7;
				background-position: 50%;
				background-repeat: no-repeat;
				background-image: url(../img/icons/elements/card.png);
			}
		}
	}
	.steps_block .block_footer {
		display: none;
	}

	.info {
		padding: 30px 0;
	}
	.info__list {
		padding: 0;
	    height: 410px;
	    overflow: hidden;
	}
	.info__item {
		display: block;
		width: 100%;
		&:last-of-type {
			// margin-bottom: 0;
		}
	}
	.info__list_link {
		display: block;
		text-align: center;
		position: relative;
		font-size: 14px;
		&:before {
			display: block;
			content: '';
			position: absolute;
			bottom: 100%;
			left: 0;
			width: 100%;
			height: 50px;
			background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(237,238,240,0.65) 51%, rgba(237,238,240,1) 78%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(237,238,240,0.65) 51%,rgba(237,238,240,1) 78%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(237,238,240,0.65) 51%,rgba(237,238,240,1) 78%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#edeef0',GradientType=0 ); /* IE6-9 */
		}
		&.active{
			&:before {
				display: none;
			}
		}
	}
}

@media screen and (max-width: 480px) {
	.homepage__slider-wrap .bx-pager {
		display: none;
	}
	.homepage__slide .slide__inner-wrap {
		height: 250px;
	}
	.homepage__slide {
		.details {
			left: 50%;
			width: 140px;
			margin-left: -70px;
			margin-bottom: -20px;
		}
		.skidka-img {
			width: 195px;
			margin-bottom: 0;
			display: inline-block;
		}
		.slide-content {
			width: 80%;
			margin: 0 auto;
		}
	}
	.steps__list {
		margin-bottom: 0;
	}
	.steps_block {
		margin-bottom: 30px;
	}
}

